@charset "UTF-8";
/* D9 - Variables NCW */
/* Font Family */
@font-face {
  font-family: "Open Sans", sans-serif;
}
/* Font colours */
@color0 :	transparent;
@color1 :	#fff;
@color2 :	#003399;
@color2-ligth : #8d98c5;
@color3 :	#749b00;
@color4 :	#c1e000;
@color5 :	#575757;
@color6 :	#608000;
@color7 : 	#565351;
@color8 : 	#e2e2e3;
@color9 : 	#c00f21;
@color10 :   #4d8100;
@colorNormalText : 	#333333;
@colorFacebook :		#4c69ba;
@colorGradient :		#3b55a0;
/* Font colours */
/* background colours */
.bg-color-blue {
  background: #003399;
}

.bg-color-blue-light {
  background: #cfddee;
}

.bg-color-blue-block {
  background: #ecf1fb;
}

.bg-color-blue-wiki {
  background: #325bad;
}

.bg-color-blue-accordion {
  background: #e8eef7;
}

.bg-color-blue-button {
  background: #b2c7e5;
}

.bg-color-pink {
  background: #c72272;
}

.bg-color-grey {
  background: #57575a;
}

.bg-color-white {
  background: #FFF;
}

.bg-color-tag-1 {
  background: #4e6aa0;
}

.bg-color-tag-2 {
  background: #e8eef7;
}

.text-color-blue {
  color: #003399;
}

.text-color-pink {
  color: #c72272;
}

.text-color-black {
  color: #000;
}

.text-color-black-label {
  color: #333;
}

.text-color-grey-light {
  color: #7c7d81;
}

.text-color-grey {
  color: #57575a;
}

.text-color-white {
  color: #FFF;
}

.text-color-facets {
  color: #57565b;
}

/* END - D9 - Variables NCW */
* {
  margin: 0px;
  padding: 0px;
}

*:focus,
button:focus,
a:focus {
  outline: none;
}

.clearfix {
  clear: both;
  float: none;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.node__content {
  margin: 0px;
  font-size: inherit;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.section.container {
  padding: 0px;
}

ul {
  padding-left: 0.875rem;
}

.field--type-entity-reference {
  margin: 0;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/*General*/
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot");
  src: url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff") format("woff"), url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}

.breadcrumb-item {
  display: flex;
}
.breadcrumb-item::before {
  display: inline-block;
  color: #FFF;
  padding: 0 8px;
  content: "> ";
}
.breadcrumb-item:nth-child(1)::before {
  content: " ";
}
.breadcrumb-item a {
  color: #FFF;
  text-decoration: underline !important;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5remg;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  color: #FFF;
  padding: 1px 2px;
  content: "> ";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #FFF;
}

.btn-default, .more-link, .btn-primary {
  position: relative;
  color: #FFF;
  width: auto;
  background: #003399;
  border-radius: 5px;
}
.btn-default .glyphicon-log-in:before, .more-link .glyphicon-log-in:before, .btn-primary .glyphicon-log-in:before {
  content: " ";
  background: url(../images/header/login.png) no-repeat 0px center;
  width: 17px;
  height: 14px;
  display: block;
}
.btn-default .glyphicon-upload:before, .more-link .glyphicon-upload:before, .btn-primary .glyphicon-upload:before {
  content: none;
}
.btn-default:hover, .more-link:hover, .btn-primary:hover {
  background-color: #002266;
  border-color: #001f5c;
}

.more-link {
  color: #003399;
  font-size: 0.8rem !important;
  border: 1px solid #003399;
  border-radius: 3px 15px 15px 3px;
  text-transform: uppercase;
  padding: 4px 1.6rem 4px 7px;
  font-weight: bold;
  font-style: normal;
  margin-left: 0;
  transition: 300ms;
  background-position: 110%;
  text-decoration: none;
  background: url(../images/ico-plus-green.png) no-repeat 91% 50%;
  background-color: transparent;
}
.more-link:hover {
  color: #9cca00;
  border: 1px solid #9cca00;
  background-color: transparent;
  text-decoration: none;
}

.download-button {
  border: 1px solid #57575a;
  border-radius: 5px;
  background: url(../images/ico-download-button.png) 6px 5px no-repeat;
  padding-left: 2.1em;
  color: #57575a;
  padding: 0.2em 0.7em 0.2em 2.1em;
  background-size: 16px;
  font-weight: 500;
}
.download-button:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #a1c800;
  border-radius: 15px;
  transition: 0.5s;
}

.see-more-button-20 {
  background: url(../images/ico-plus-20.png) no-repeat 99% 2px #0030a0;
  text-transform: uppercase;
  color: #FFF;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 3px 3.5em 3px 0.7em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.see-more-button-20:hover {
  color: #FFF;
  background: url(../images/ico-next-20-white-hover.png) no-repeat 99% 2px #acc700;
  text-decoration: none;
}

.back-to-events span, .back-links span {
  margin-left: 0.5em;
  font-weight: bold;
}

h1, h2, h3, h4 {
  clear: both;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.path-media-centre .main-container,
.page-media-centre-news .main-container,
.page-search .main-container,
.page-media-centre-press-room .main-container,
.page-media-centre-press-room .main-container {
  background: #efefef;
  padding-bottom: 2em;
}

.content-fluid.green-background {
  clear: both;
  background: #daea96;
  padding: 2rem 0;
}

.green-background {
  background: #daea96;
}

.gray-background {
  background: #efefef;
}

#edit-search-api-fulltext {
  height: 34px;
  border: 1px solid #B0B2B3 !important;
  border-radius: 5px !important;
  background: url(../images/green-search.png) no-repeat 96% 55% #ffffff;
  width: 100% !important;
  float: left;
  margin-top: 25px;
  padding-left: 10px;
  color: #003399;
}

#main-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 6px 12px;
  border-radius: 5px !important;
  border: 1px solid #B0B2B3;
  background: url(../images/green-select.png) no-repeat scroll 94% 13px #ffffff !important;
  width: 100% !important;
  color: #003399;
  cursor: pointer;
}
#main-wrapper .views-exposed-form .form-row {
  display: flex;
  align-items: flex-end;
}
#main-wrapper .views-exposed-form label {
  color: #003399 !important;
  font-family: "Open Sans" !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  padding-bottom: 0.1em;
}

/* pagination */
.pagination, .pager {
  border: none;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}
.pagination li > a, .pagination li > span, .pager li > a, .pager li > span {
  background: transparent;
  color: #99a7c1;
  border: none;
  font-weight: bold;
  font-style: normal;
}
.pagination li.active > a, .pagination li.active > span, .pager li.active > a, .pager li.active > span {
  background: transparent !important;
  color: #003399 !important;
}
.pagination li.pager-current, .pager li.pager-current {
  padding-left: 14px;
  padding-right: 14px;
  font-weight: bold;
  font-style: normal;
}
.pagination li:nth-last-child(1) a, .pagination li:nth-last-child(1) span,
.pagination li:nth-last-child(2) a,
.pagination li:nth-last-child(2) span, .pager li:nth-last-child(1) a, .pager li:nth-last-child(1) span,
.pager li:nth-last-child(2) a,
.pager li:nth-last-child(2) span {
  color: #003399 !important;
}
.pagination .pager-ellipsis span, .pager .pager-ellipsis span {
  padding-left: 0;
  padding-right: 0;
}
.pagination .active > a, .pagination .active > span, .pagination .active > a:hover, .pagination .active > span:hover, .pagination .active > a:focus, .pagination .active > span:focus, .pager .active > a, .pager .active > span, .pager .active > a:hover, .pager .active > span:hover, .pager .active > a:focus, .pager .active > span:focus {
  background-color: white;
  border: none;
  color: #575757;
}

/*
.new-select-style, #edit_field_country_code_chosen, #edit-years, #edit_years_chosen {
  height: 100%;
  border-radius: 5px !important;
  background: url(../images/green-select.png) no-repeat scroll 94% 13px #ffffff !important;
  padding-left: 10px;
  width: 100%!important;
  color: #003399;
  cursor: pointer;

}
*/
.site-footer {
  background: #57575a;
}

.footer {
  background: transparent url("../images/footer/bg-complete.png") no-repeat left;
  border: none;
  padding-bottom: 1em;
  padding-top: 0;
  padding-left: 40px;
  color: #FFF;
  min-height: 130px;
  height: 100%;
  margin-top: 10px;
  background-size: cover;
  overflow: hidden;
}
.footer ul li a {
  color: #FFF;
  padding-left: 0;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer ul li :hover, .footer ul li :focus {
  background: none;
}
.footer ul li ::after {
  content: "|";
  padding-left: 1em;
}
.footer ul li.last ::after {
  content: "";
}
.footer h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.footer p {
  float: left;
}
.footer div.on-the-web {
  display: inline-block;
  float: right;
  margin-right: 0px;
  text-align: right;
}
.footer div.on-the-web a {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}
.footer div.on-the-web a img {
  display: none;
}
.footer div.on-the-web .otw-twitter a {
  background: url("../images/footer/twitter.png") no-repeat;
}
.footer div.on-the-web .otw-facebook a {
  background: url("../images/footer/facebook.png") no-repeat;
}
.footer div.on-the-web .otw-youtube a {
  background: url("../images/footer/youtube.png") no-repeat;
}
.footer div.on-the-web .otw-flickr a {
  background: url("../images/footer/flickr.png") no-repeat;
}
.footer div.on-the-web .otw-linkedin a {
  background: url("../images/footer/linkedin.png") no-repeat;
}
.footer div.on-the-web .otw-blogger a {
  background: url("../images/footer/blogger.png") no-repeat;
}

/* Home page */
.homepage-banner-view {
  display: flex;
  flex-direction: revert;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homepage-banner-view article {
  text-align: center;
  padding: 1.2rem;
}
.homepage-banner-view article h1 {
  padding: 1.6rem 15px 0.8rem;
  margin: 0.8rem 0;
  border-bottom: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}
.homepage-banner-view article h2 {
  font-style: normal;
  font-weight: 600;
}
.homepage-banner-view article p {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  max-width: 575px;
  margin: 0 auto;
  font-size: 1rem;
}
.homepage-banner-view article .btn-background-transparent,
.homepage-banner-view article .btn-background-transparent-minor-size {
  background: transparent;
  min-width: 208px;
  width: auto;
  color: #acc701;
  border: 3px solid #acc701;
  padding: 0.4rem 2.2rem 0.4rem 1.2rem;
  border-radius: 7px;
  font-weight: 600;
  position: relative;
  font-size: 1rem;
}
.homepage-banner-view article .btn-background-transparent:hover,
.homepage-banner-view article .btn-background-transparent-minor-size:hover {
  background: #e5f1ac;
  color: #00309d;
  border: 3px solid #00309d;
  font-weight: 600;
  text-decoration: none;
}
.homepage-banner-view article:nth-child(1), .homepage-banner-view article:nth-child(4), .homepage-banner-view article.banner-0, .homepage-banner-view article.banner-3 {
  background: url(../images/background-splash-box1.png) no-repeat #acc701 !important;
}
.homepage-banner-view article:nth-child(1) h1, .homepage-banner-view article:nth-child(4) h1, .homepage-banner-view article.banner-0 h1, .homepage-banner-view article.banner-3 h1 {
  color: #FFF;
}
.homepage-banner-view article:nth-child(1) h2, .homepage-banner-view article:nth-child(4) h2, .homepage-banner-view article.banner-0 h2, .homepage-banner-view article.banner-3 h2 {
  color: #FFF;
}
.homepage-banner-view article:nth-child(1) p, .homepage-banner-view article:nth-child(4) p, .homepage-banner-view article.banner-0 p, .homepage-banner-view article.banner-3 p {
  color: #FFF;
}
.homepage-banner-view article:nth-child(1) .btn-background-transparent,
.homepage-banner-view article:nth-child(1) .btn-background-transparent-minor-size, .homepage-banner-view article:nth-child(4) .btn-background-transparent,
.homepage-banner-view article:nth-child(4) .btn-background-transparent-minor-size, .homepage-banner-view article.banner-0 .btn-background-transparent,
.homepage-banner-view article.banner-0 .btn-background-transparent-minor-size, .homepage-banner-view article.banner-3 .btn-background-transparent,
.homepage-banner-view article.banner-3 .btn-background-transparent-minor-size {
  color: #FFF;
  border: 3px solid #FFF;
}
.homepage-banner-view article:nth-child(1) .btn-background-transparent:hover,
.homepage-banner-view article:nth-child(1) .btn-background-transparent-minor-size:hover, .homepage-banner-view article:nth-child(4) .btn-background-transparent:hover,
.homepage-banner-view article:nth-child(4) .btn-background-transparent-minor-size:hover, .homepage-banner-view article.banner-0 .btn-background-transparent:hover,
.homepage-banner-view article.banner-0 .btn-background-transparent-minor-size:hover, .homepage-banner-view article.banner-3 .btn-background-transparent:hover,
.homepage-banner-view article.banner-3 .btn-background-transparent-minor-size:hover {
  background: #e5f1ac;
  color: #00309d;
  border: 3px solid #00309d;
}

.news-section-title {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.5rem;
  background: url(../images/grey-h3-line.png) repeat-x 50% 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news-section-title:before {
  content: url(../images/news-h3-ico.png);
  width: 49px;
  display: block;
  height: 45px;
  background: #FFF;
}
.news-section-title a {
  color: #00309d;
  background-color: #FFF;
  padding-right: 3.125rem;
}

.events-section-title {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.5rem;
  background: url(../images/grey-h3-line.png) repeat-x 50% 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.events-section-title:before {
  content: url(../images/events-h3-ico.png);
  width: 49px;
  display: block;
  height: 45px;
  background: #FFF;
}
.events-section-title a {
  color: #00309d;
  background-color: #FFF;
  padding-right: 3.125rem;
}

.home-news-item {
  clear: both;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bcd75b;
  padding-bottom: 1.25rem;
}
.home-news-item:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.home-news-item .image-news-item img {
  width: 100%;
  min-width: 220px;
  height: auto;
  margin-top: 0.5em;
  border-radius: 0.6rem;
}
.home-news-item .body-news-item {
  padding-left: 0.8rem;
  position: relative;
  height: auto;
  padding-bottom: 3.75rem;
  padding-top: 0.3rem;
}
.home-news-item .body-news-item .publication-date {
  color: #57575a;
  font-size: 0.8rem !important;
}
.home-news-item .body-news-item .summary-news {
  font-size: 1rem;
}
.home-news-item .body-news-item .summary-news h2 {
  display: block;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
}
.home-news-item .body-news-item .summary-news h2 a {
  color: #003399;
}
.home-news-item .body-news-item .summary-news strong {
  font-weight: normal;
}

/*
.page-view-frontpage{
  .layout-main-wrapper{
    h2.line, h3.line {
      color: $text-color-blue;
      margin-top: 0;
      font-weight: 400;
      background: url(../images/grey-h3-line.png) repeat-x 50% 65%;
      a{
        color: $text-color-blue;
      }
      span{
        background: $bg-color-white;
        padding-right: 1rem;
      }
    }
    h2 {
      font-size: 1.85rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    .green-background{
      h3.line, h2.line {
        span{
          background: $bg-color-green-light;
          padding-right: 1rem;
        }
      }
    }
    .blocks-front-page{
      padding: 3rem 0;
    }
  }
  .home-newsletter-social-media {
    background: url(../images/background-newsletter-home-page.png) no-repeat;
    h2{
      a{
        color: $text-color-white;
      }
    }
  }
}

.home-news{
  padding-right: 1.8rem;
}

.home-events{
  background: url(../images/border-dashed-events.png) repeat-y;
  padding-left: 1.8rem;
}

.home-newsletter{
  padding-right: 1.8rem;
}

.home-social-media{
  background: url(../images/border-dashed-newsletter.png) repeat-y;
  padding-left: 1.8rem;
}
*/
/*** Stiky header ***/
body {
  padding-top: 195px !important;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: top 0.6s linear;
  top: 0px !important;
  background: white;
}

body.scrollup.scrolled #header {
  position: fixed !important;
  width: 100%;
  z-index: 9999999;
  transition: top 0.6s linear;
  top: 0px !important;
  background: white;
}

body.user-logged-in {
  padding-top: 230px !important;
}
body.user-logged-in #header {
  padding-top: 40px;
}
body.user-logged-in.scrolled #header {
  padding-top: 0px;
}

body.user-logged-in.toolbar-tray-open {
  padding-top: 266px !important;
}
body.user-logged-in.toolbar-tray-open #header {
  padding-top: 75px;
}
body.user-logged-in.toolbar-tray-open.scrolled #header {
  padding-top: 0px;
}

.scrolldown #header {
  position: fixed;
  top: -23rem !important;
  transition: all 0.6s;
  z-index: 10;
  width: 100%;
}

/* Header styles */
.top-header-content {
  height: 135px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 0;
  margin-right: 0;
}
.top-header-content .header-logo {
  display: flex;
  flex-direction: row;
}
.top-header-content .header-logo .region-top-header-logos {
  margin-left: 1rem;
}
.top-header-content .header-logo .region-top-header-logos .field--name-field-image {
  display: flex;
  margin: 0;
  align-items: stretch;
  justify-content: space-around;
}
.top-header-content .header-logo .region-top-header-logos .field--name-field-image > .field__item {
  border-right: 1px solid #003399;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
}
.top-header-content .header-logo .region-top-header-logos .field--name-field-image > .field__item:nth-child(2) {
  border-right: 0;
}
.top-header-content .header-logo .region-top-header-logos .field--name-field-image > .field__item img {
  margin: 0;
}
.top-header-content .header-logo .header-text {
  color: #003399;
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 315px;
  padding-top: 8px;
  padding-left: 1.5em;
  max-width: 273px;
  padding-left: 1em;
}
.top-header-content .header-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-header-content .header-tools .print-resize-block {
  display: flex;
  flex-direction: row;
  /* Print features */
  /* Resize features */
}
.top-header-content .header-tools .print-resize-block .printfriendly {
  display: block;
  background: url(../images/share_print_blue.png) no-repeat;
  width: 36px;
  height: 28px;
  margin: 0 !important;
  position: relative;
  top: 7px;
}
.top-header-content .header-tools .print-resize-block .printfriendly label {
  display: none;
}
.top-header-content .header-tools .print-resize-block ul.resize-text-block {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
}
.top-header-content .header-tools .print-resize-block ul.resize-text-block li a {
  color: #91afd9;
  text-transform: lowercase;
  padding: 0 2px;
}
.top-header-content .header-tools .print-resize-block ul.resize-text-block li a sup {
  display: none;
}
.top-header-content .header-tools .print-resize-block ul.resize-text-block li:nth-child(2) a {
  font-size: 1.7em;
}
.top-header-content .header-tools #block-on-the-web-0 {
  display: flex;
  justify-content: space-evenly;
}

/* Increase Text and Print */
.font-size-print {
  float: left;
}
.font-size-print span a {
  color: #003399;
  font-weight: bold;
  cursor: pointer;
}
.font-size-print .a_small a {
  font-size: 1rem;
}
.font-size-print .a_medium a {
  font-size: 1.35rem;
}
.font-size-print .a_big a {
  font-size: 1.65rem;
}
.font-size-print .print-friendly {
  display: inline-block;
  background: url(../images/share_print_blue.png) no-repeat;
  width: 24px;
  height: 20px;
}

.content-first-row {
  display: flex;
  justify-content: flex-end;
}

/* Share links */
#block-socialmenu .nav-item .nav-link {
  padding: 0;
  margin: 5px 0 0 5px;
}

/* Block to the Header Language selector and Search */
.header-tools .search-block-form .container-inline {
  display: block;
}
.header-tools #search-block-form {
  padding: 0;
  margin: 0.5rem 0 !important;
  display: flex;
  flex-flow: row wrap;
}
.header-tools #search-block-form fieldset {
  padding: 0;
  margin: 0 !important;
  flex: 1 1 auto;
  width: auto;
  max-width: initial;
}
.header-tools #search-block-form fieldset input {
  min-width: 204px;
  width: 100%;
  height: 34px;
  font-size: 1em;
  color: #003399;
  border-color: #003399;
  border: 1px solid #003399;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.header-tools #search-block-form .form-actions {
  padding: 0;
  margin: 0 !important;
  position: relative;
  left: -2px;
}
.header-tools #search-block-form .form-actions button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-bottom: 8px;
  width: 46px;
  height: 34px;
  color: #003399;
  font-size: 2px;
  background: #003399 url(../images/search.png) no-repeat center;
}

/* Language Selector - Module - Language Switcher Dropdown */
.header-language-search {
  display: flex;
  justify-content: flex-end;
}
.header-language-search #lang_dropdown_form_lang-dropdown-form select {
  background: #d9e996 !important;
  background-color: #d9e996;
  border: 1px solid #003399;
  border-radius: 5px;
  padding-left: 0.5em;
  font-size: 0.8rem;
  color: #003399;
}

/* Links in header - Menu with News & Events and Press */
.header-links {
  float: left;
}
.header-links section.row {
  margin-left: -8px;
  margin-right: 0;
}
.header-links section.row nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.header-links section.row nav ul li {
  padding: 0;
  margin: 0;
}
.header-links section.row nav ul li a {
  display: block;
  font-size: 0.8rem;
  color: #003399;
  padding: 0 0 5px 0;
  font-weight: bold;
  max-width: 110px;
  margin-left: -8px;
}
.header-links section.row nav ul li a:hover {
  text-decoration: underline;
}

/*Search autocomplete*/
/* Hide menu link to view only the Share links images in header and footer */
#block-socialmenu > ul, #block-socialmenu-2 > ul {
  list-style: none;
}
#block-socialmenu > ul > li > a, #block-socialmenu-2 > ul > li > a {
  display: none;
}

/** Section title **/
.section-title {
  background: url(../images/banner-background-article.png) no-repeat #acc700;
  padding-top: 0;
  margin-bottom: 2em;
  width: 100%;
}
.section-title h1 {
  color: #FFF;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 0;
  border: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 80%;
  margin: 0 auto;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#navbar-main {
  background: #003399;
}
#navbar-main a {
  color: #FFF;
}

.view-osh-news .view-content {
  display: flex;
  flex-direction: column;
}
.view-osh-news .news-items-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  padding: 1em;
  background: #FFF;
  border-radius: 10px;
  position: relative;
  border-bottom: 0;
}
.view-osh-news .news-items-list:after {
  content: " ";
  background: url(../images/green-line.png) repeat-x;
  width: 90%;
  clear: both;
  display: block;
  padding-top: 1em;
  position: absolute;
  bottom: -36px;
  left: 5%;
}
.view-osh-news .news-items-list .group-left .field--type-image {
  border: 2px solid #bcd75b;
  float: left;
  padding-right: 0;
  margin-right: 20px;
  margin-top: 13px;
  border-radius: 7px;
  height: 114px;
  width: 114px;
}
.view-osh-news .news-items-list .group-right .date {
  color: #57575a;
  font-size: 0.8rem !important;
}
.view-osh-news .news-items-list .group-right .title-list {
  display: block;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
}
.view-osh-news .news-items-list .group-right .title-list a {
  color: #003399;
}

.node-content {
  padding: 1rem;
}

.latest-publications {
  padding: 4rem 1rem 1rem;
}

.available-publication {
  padding: 4rem 1rem 1rem;
}

.sidebar-first .block-facets {
  padding: 0.8rem 0.8rem 0.4rem;
  border: 1px solid #B0B2B3;
  border-radius: 5px;
  margin-top: 0;
  width: 100%;
  background: #FFF;
}
.sidebar-first .block-facets h2 {
  font-size: 1.125rem;
  color: #003399 !important;
  padding-right: 1.25px;
}
.sidebar-first .block-facets h2:hover {
  cursor: pointer;
}
.sidebar-first .block-facets h2:after {
  color: #c1e000;
  padding-top: 2px;
  content: "";
  font-family: "Glyphicons Halflings";
  margin-left: 0px;
  float: right;
  margin-right: 0px;
}
.sidebar-first .block-facets ul {
  list-style: none;
  padding: 0.5rem 0 0;
}
.sidebar-first .block-facets ul li label {
  padding-left: 0.5rem;
}

.view-publications-list {
  display: flex;
  flex-direction: column;
}
.view-publications-list .view-filters {
  order: 1;
}
.view-publications-list .view-header {
  order: 2;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  color: #003399;
}
.view-publications-list .view-content {
  order: 3;
  display: flex;
  flex-direction: column;
}
.view-publications-list .view-content .publications-row .publications-items-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  padding: 1em;
  background: #FFF;
  border-radius: 10px;
  position: relative;
  border-bottom: 0;
}
.view-publications-list .view-content .publications-row .publications-items-list:after {
  content: " ";
  background: url(../images/green-line.png) repeat-x;
  width: 90%;
  clear: both;
  display: block;
  padding-top: 1em;
  position: absolute;
  bottom: -36px;
  left: 5%;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-left .field--type-image {
  padding-right: 0;
  border-radius: 7px;
  min-height: 220px;
  width: 100%;
  margin-right: 1.8rem;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .metadata > span {
  color: #57575a;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .metadata .type {
  color: #003399;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .metadata .type label {
  font-weight: bold;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .metadata .num-pages {
  font-weight: bold;
  color: #003399;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .title-list {
  display: block;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
  line-height: 1.6rem;
}
.view-publications-list .view-content .publications-row .publications-items-list .group-right .title-list a {
  color: #003399;
  font-style: normal;
  font-size: 0.7em;
}
.view-publications-list nav[aria-label=pagination-heading] {
  order: 4;
}

/*# sourceMappingURL=hwc-global.css.map */
