
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
  background-color:transparent;
  border-radius:0;
}

.breadcrumb-item {
  display: flex;
  &::before {
    display: inline-block; // Suppress underlining of the separator in modern browsers
    color:#666 !important;
    padding: 0 8px;
    content: ">\00a0";
  }
  &:nth-child(1){
    padding-left: 0;
    &::before {
      content: "";
      padding:0 !important;
    }
  }
  a{
    color:#666 !important;
    font-weight: bold;
    text-decoration: underline !important;
  }
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: 0.5rem;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      color:#666 !important;
      padding:1px 2px;
      content: ">\00a0";
    }
  }
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color:#666 !important;
  }
}
