.btn {
  padding: .275rem .75rem;
}
.btn-default, .more-link, .btn-primary{
  position: relative;
  color: #FFF;
  width: auto;
  background: #003399;
  border-radius: 5px;
  .glyphicon-log-in:before {
    content: " ";
    background: url(../images/header/login.png) no-repeat 0px center;
    width: 17px;
    height: 14px;
    display: block;
  }

  .glyphicon-upload:before{
    content: none;
  }

  &:hover{
    background-color: #002266;
    border-color: #001f5c;
  }
}
.more-link{
  color:$text-color-blue;
  font-size: 0.8rem !important;
  border: 1px solid $text-color-blue;
  border-radius: 3px 15px 15px 3px;
  text-transform: uppercase;
  padding: 4px 1.6rem 4px 7px;
  font-weight: bold;
  font-style: normal;
  //display: block;
  margin-left: 0;
  transition: 300ms;
  background-position: 110%;
  text-decoration: none;
  background: url(../images/ico-plus-green.png) no-repeat 91% 50%;
  background-color: transparent;
  &:hover{
    color: #9cca00;
    border: 1px solid #9cca00;
    background-color: transparent;
    text-decoration: none;
  }
}
.see-all-link{
  position: relative;
  color: white !important;
  width: auto;
  background: url(../images/ico-plus-20.png) no-repeat 98.5% 3px $text-color-blue;
  text-transform: uppercase;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 3px 3.5em 3px 0.7em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 1em;
  &:hover{
    color: #FFF;
    background: url(../images/ico-next-20-white-hover.png) no-repeat 98.5% 3px #acc700;
    text-decoration: none;
  }
}

.download-button{
  border: 1px solid #57575a;
  border-radius: 5px;
  background: url(../images/ico-download-button.png) 6px 5px no-repeat;
  padding-left: 2.1em;
  color: #57575a;
  padding: 0.2em 0.7em 0.2em 2.1em;
  background-size: 16px;
  font-weight: 500;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
    color:#a1c800;
    border-radius: 15px;
    transition: 0.5s;
  }
}

.see-more-button-20{
  background: url(../images/ico-plus-20.png) no-repeat 99% 2px #0030a0;
  text-transform: uppercase;
  color: #FFF;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 3px 3.5em 3px 0.7em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover{
    color: #FFF;
    background: url(../images/ico-next-20-white-hover.png) no-repeat 99% 2px #acc700;
    text-decoration: none;
  }
}

.back-to-events, .back-links{
  span {
    margin-left: 0.5em;
    font-weight: bold;
  }
}
