/* Validate */
.s{
  font-weight: bold;
  padding-right: 5px;
}
.s.fail{
  color: #ca2d2d;;
}
.s.ok{
  color: green;
}

/* Menu */
.update-partners-form-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 25px;
}

.content-panel{
  clear: both;
}

/* End menu top */
.moved-help-js{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#edit-help{
  display: none;
  a{
    float: left;
    font-size: 1.1rem;
    background: $bg-color-blue;
    min-width: 120px;
    color: #FFF;
    text-align: center;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    &:hover{
      text-decoration: none;
      background-color: #002266;
      border-color: #001f5c;
    }
  }
}

.back{
  a{
    font-size: 1rem;
    font-weight: normal;
    font-weight: bold;
    background: url(../images/pag-back.png) no-repeat 1px 5px;
    padding-left: 17px;
  }
}

/* Menu */
.update-partners-form-wrapper{
  padding-top: 1rem;
  .modal{
    z-index: 99999999;
  }
  .navigation-panel{
    h3{
      color: $text-color-blue;
      font-size: 1.1rem;
      font-weight: 600;
      padding-top: 1.5rem;
    }
    h3.first{
      padding-top: 0;
    }
    h4{
      font-size: 1rem;
      margin-bottom: 0;
      padding-top: 1.5rem;
      color: $text-color-blue;
    }
    ul{
      list-style: none;
      margin-bottom: 0;
      border-bottom: 1px dashed #bcd75b;
      padding-bottom: 1.5rem;
      padding-left: 2px;
      padding-right: 0.875rem;
      li{
        display: flex;
        padding-top: 0.5rem;
        padding-left: 0.3rem;
        a{
          color: #212529;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .mandatory{
      color: #f01f1f;
      font-weight: bold;
      padding-left: 8px;
    }
    .link-relevant{
      &:before{
        content: "> ";
        float: left;
        display: inline-block;
        height: 30px;
        padding-right: 5px;
      }
    }
    .img-displayed{
      margin-top: 3px;
      margin-left: 8px;
    }
  }
}

/* Sections */
.path-webform {
  section.form-item {
    width: 100%;
    float: left;
    border: 1px solid #bcd75b;
    border-radius: 5px;
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin-bottom: 1.5rem;
    section{
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h2 {
      font-size: 1.4rem;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: 1.5rem;
      padding-bottom: 0.2rem;
      border-bottom: 2px solid $bg-color-blue;
    }

    .webform-section-title{
      width: 97%;
      font-size: 1.2rem;
      color: $text-color-blue;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: 1.5rem;
      padding-bottom: 0.2rem;
      border-bottom: 2px solid $bg-color-blue;
    }

    .form-required::after{
      margin: 0 0 0 0.3em;
    }

    input[type=text]{
      color: $text-color-blue !important;
      font-size: 0.9rem;
      height: 39px;
    }

    input.button{
      color: $text-color-white !important;
      font-size: 0.9rem;
    }

    .button{
      cursor: pointer;
    }

    fieldset {
      width: 46%;
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      fieldset {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0 !important;
        .iti {
          width: 100%;
        }
      }
    }

    fieldset.webformcroppedimage--wrapper,
    fieldset.form-item-ceo-s-photo{
      width: 96%;
    }


    fieldset.form-item-campaign-pledge,
    fieldset.form-type-webform-custom-composite,
    fieldset.form-type-webform-multiple{
      width: 96%;
    }

    /* Tables */
    .webform-multiple-table{
      th{
        background: #003399;
        padding: 10px 15px;
        margin: 0;
        vertical-align: inherit;
      }
      td{
        padding: 10px 5px;
        margin: 0;
        vertical-align: inherit;
      }
      th.webform-multiple-table--handle{
        display: none;
      }
      td.webform-multiple-table--handle{
        display: none;
      }
      td{
        fieldset{
          width: 96%;
          margin-bottom: 0 !important;
        }
        input{
          font-size: 0.9rem;
          color: $text-color-blue;
        }
        input[type="image"]{
          float: left;
          height: auto;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      td.webform-multiple-table--operations-two,
      td.webform-multiple-table--operations{
        width: 75px;
      }
    }

    label#edit-organisation-s-logo--label{
      margin-bottom: 0;
    }

    label, legend{
      font-weight: 600;
      font-size: 0.85rem;
    }
    .form-item-name-mc{
      label{
        width: 225px;
      }
    }
    .form-item-name-mc.form-disabled{
      label{
        width: auto;
      }
    }
    .form-item-surname-mc,
    .form-item-surname-new{
      label{
        height: 39px;
      }
    }

    label.error, strong.error{
      font-weight: normal;
      font-size: 0.8rem;
      color: #ca2d2d;
    }

    label.displayed-campaign, .form-composite legend span{
      background: url("../images/screen.png") no-repeat 100% 3px;
      background-size: 17px;
      padding-right: 23px;
    }

    .form-check-label{
      font-size: 0.8rem;
    }

    .form-check-input {
      margin-top: 0.35rem;
    }

    .js-form-item-social-dialogue-partner{
      label{
        font-weight: normal;
        font-size: 0.8rem;
      }
    }

    label.button{
      font-weight: normal;
      font-size: 0.8rem;
      background: $bg-color-blue;
      color: #FFF;
      margin: 0 0 0.2rem 0;
      padding: 0.6rem 1rem;
      border-radius: 5px;
      &:hover{
        background-color: #002266;
        border-color: #001f5c;
      }
    }
    .webform-element-description, .description{
      font-size: 0.8rem;
      color: #333;
      padding-top: 2px;
      padding-bottom: 0.5rem;

    }
    .form-item--i-want-to-change-the-main-contact-for-my-organisation-{
      margin-bottom: 1rem;
      margin-left: 2%;
      margin-right: 2%;
      padding: 1rem;
      border-radius: 5px;
      input[type="checkbox"], input[type="radio"]{
        margin-left: 0;
      }
      label{
        margin-left: 1.3rem;
      }
      .webform-element-description{
        padding-bottom: 0;
      }
    }
    .webform-multiple-table table {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  /* Fix fieldset heihts to make 2 columns */
  .form-item-other-countries{
    height: 130px;
  }
  .form-item-business-sector{
    height: 155px;
  }
  .form-item-ceo-s-position{
    height: 160px;
  }
  .webformcroppedimage--wrapper,
  .form-item-countries-of-activity,
  .form-item-homepage,
  .form-item-email-address-mc,
  .form-item-email-address-new{
    clear: both;
  }
}

.path-webform{
  .webform-submission-update-partners-fops-form{
    .form-item-homepage,
    .form-item-email-address-mc{
      clear: none;
    }
  }
}

.webform-section-wrapper{
  > .description{
    margin-left: 1.5%;
    margin-right:1.5%;
  }
}

#main-wrapper{
  fieldset{
    select,
    .chosen-container-single .chosen-single ,
    .chosen-container-multi ul,
    .select2-selection{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      padding: 6px 12px;
      border-radius: 5px !important;
      border: 1px solid #ced4da;
      background: url(../images/green-select.png) no-repeat scroll 96% 15px #ffffff !important;
      width: 100% !important;
      color: #003399;
      cursor: pointer;
      height: 39px;
      font-size: 0.9rem;
      box-shadow: unset;
      div b{
        display: none;
      }
      li{
        background-color: transparent;
        margin-top: 1px;
      }
    }
  }
  .chosen-container .chosen-drop{
    height: 100px;
    ul{
      height: 100px;
    }
  }
}

.tabledrag-toggle-weight,
.form-item-social-media-profiles-add-more-items,
.form-item-other-users-info-add-more-items{
  display: none;
}

.chosen-container-multi{
  display: none !important;
}

#edit_countries_of_activity_chosen.chosen-container-multi{
  display: block !important;
}

#scroll-top {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 90%;
  right: 13%;
  background-color: $bg-color-blue;
  border-radius: 50%;
  text-decoration: none;
  transform:translate(0%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1.5s linear;
  &:before {
    content: "";
    display: block;
    background: url("../images/anchor-top-v2.png") 6px 8px no-repeat;
    width: 41px;
    height: 33px;
  }
  span{
    display:none;
  }
}

#scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/* Help modal */
.ui-dialog .ui-dialog-titlebar{
  background: $bg-color-blue;
  span{
    color: #FFFFFF;
  }
}

.ui-dialog .ui-dialog-titlebar-close {
  background: transparent;
  border: 0;
}

.ui-dialog-titlebar-close:after{
  content: 'X';
  display: block;
  width: 20px;
  height: 20px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.webform-actions{
  .btn-primary{
    background-color: $bg-color-blue;
    color: #FFF;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: $bg-color-blue;
  color: #FFF;
  border-color: $bg-color-blue;
}

.ui-dialog .button{
  background-image: none;
}
