
<div class="compaign-partners-full-wrapper">
  <div class="menu-block-wrapper">
  <ul class="menu-partners-all menu nav">
    <li class="content-box-partner">
      <a href="/en/get-involved/become-campaign-partner">
        <span class="content-img"><img alt="Become a campaign partner" title="Become a campaign partner" src="/sites/hwc/files/images/campaign_partners/menu-oficial-campaign-partner_0_0.png"></span>
        <h2>Become a campaign partner</h2><p>Join us! Raise your profile and boost your professional network.</p>
      </a>
    </li>
    <li class="content-box-partner">
      <a href="/en/campaign-partners/national-focal-points">
        <span class="content-img"><img alt="National focal points" title="National focal points" src="/sites/hwc/files/images/campaign_partners/menu-national-focal-points_0.png"></span>
        <h2>National focal points</h2><p>Leading safety and health organisations coordinate campaigns at national level.</p>
      </a>
    </li>
    <li class="content-box-partner">
      <a href="/en/campaign-partners/official-campaign-partners">
        <span class="content-img"><img alt="Official campaign partners" title="Official campaign partners" src="/sites/hwc/files/images/campaign_partners/stamp-campaign-partner-244.png"></span>
        <h2>Official campaign partners</h2><p>Who are they are and why are they key to a successful campaign?</p>
      </a>
    </li>
    <li class="content-box-partner">
      <a href="/en/campaign-partners/good-practice-exchange">
        <span class="content-img"><img alt="Good practice exchange" title="Good practice exchange" src="/sites/hwc/files/images/campaign_partners/Good-practice-exchange.png"></span>
        <h2>Good practice exchange</h2><p>Our official campaign partners share knowledge and good practices throughout Europe.</p>
      </a>
    </li>
    <li class="content-box-partner">
      <a href="/en/campaign-partners/campaign-media-partners">
        <span class="content-img"><img alt="Media partners" title="Media partners" src="/sites/hwc/files/images/campaign_partners/stamp-media-partner-244.png"></span>
        <h2>Media partners</h2><p>Media partners from many European countries actively promote the campaign.</p>
      </a>
    </li>
    <li class="content-box-partner">
      <a href="/en/campaign-partners/enterprise-europe-network">
        <span class="content-img"><img alt="Enterprise Europe Network" title="Enterprise Europe Network" src="/sites/hwc/files/images/campaign_partners/menu-enterprise-europe-network_0.png"></span>
        <h2>Enterprise Europe Network</h2><p>Extensive network reaching out to small and medium-sized enterprises helps us to get the message across to workplaces.</p>
      </a>
    </li>
    <li class="content-box-partner">
      <a href="/en/campaign-partners/senior-labour-inspectors-committee-slic">
        <span class="content-img"><img src="/sites/hwc/files/images/campaign_partners/Minke_Slic.jpg.png"></span>
        <h2>Senior Labour Inspectors Committee (SLIC)</h2><p>Inspection and Enforcement Campaign 2022 on the prevention of musculoskeletal disorders (MSDs) "Healthy Workplaces Lighten the Load"</p>
      </a>
    </li>
  </ul>
  </div>
</div>
