body{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.page-media-centre-news .main-container,
.page-search .main-container,
.page-media-centre-press-room .main-container,
.page-media-centre-press-room .main-container {
  background: #efefef;
}




