html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: $text-body;
}

.page-media-centre-news .main-container,
.page-search .main-container,
.page-media-centre-press-room .main-container,
.page-media-centre-press-room .main-container {
  background: #efefef;
}



