body{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.main-container{
  padding: 2rem 0;
}
.path-media-centre .main-container,
.page-media-centre-news .main-container,
.page-search .main-container,
.page-media-centre-press-room .main-container,
.page-media-centre-press-room .main-container {
  background: #efefef;
}




