body{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.path-media-centre .main-container,
.page-media-centre-news .main-container,
.page-search .main-container,
.page-media-centre-press-room .main-container,
.page-media-centre-press-room .main-container {
  background: #efefef;
}

.site-footer {
  margin-top: 3rem;
  height: auto;
  padding-bottom: 1rem;
}


