/* Home page */

.homepage-banner-view{
  display: flex;
  flex-direction: revert;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2.8rem;
  height: 340px;
  background:#acc700 url('/sites/hwc/themes/custom/hwc_theme/images/background-banner.png') top right no-repeat;
  background-size: cover;
  overflow: hidden;
  /* banner home */
  .carousel{
    height: 340px;
    .carousel-inner{
      height: 100%;
    }
    .carousel-item{
      height: 100%;
      .caption{
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: stretch;
        height: 100%;
        .content-body{
          font-weight: bold;
          .banner-tag{
            font-size: 2.2rem;
            font-weight: bold;
          }
          .banner-text{
            font-size: 3.6rem;
            p{
              line-height: 1.4;
            }
          }
        }
        .content-img{
          img{
            margin: auto;
          }
        }
      }
    }
    .carousel-indicators li {
      width: 12px;
      border-radius: 30px;
      height: 12px;
      margin-right: 5px;
      margin-left: 3px;
      text-indent: initial;
      border-top: 0;
      border-bottom: 0;
      background: $text-color-blue;
    }
  }

  article{
    text-align: center;
    padding: 1.6rem;
    h1{
      padding: 2.2rem 1.6rem 1rem;
      margin: 1rem 0;
      border-bottom: 0;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
    }
    h2{
      font-style: normal;
      font-weight: 600;
    }
    p{
      padding-top: 1rem;
      padding-bottom: 1.2rem;
      max-width: 575px;
      margin: 0 auto;
      font-size: 1rem;
    }
    .btn-background-transparent,
    .btn-background-transparent-minor-size{
      background: transparent;
      min-width: 208px;
      width: auto;
      color: #acc701;
      border: 3px solid #acc701;
      padding: 0.4rem 2.2rem 0.4rem 1.2rem;
      border-radius: 7px;
      font-weight: 600;
      position: relative;
      font-size: 1rem;
      &:hover {
        background: #e5f1ac;
        color: #00309d;
        border: 3px solid #00309d;
        font-weight: 600;
        text-decoration: none;
      }
    }
    &.banner-0,
    &.banner-3{
      background: url(../images/background-splash-box1.png) no-repeat #acc701 !important;
      h1{
        color: #FFF;
      }
      h2{
        color: #FFF;
      }
      p{
        color: #FFF;
      }
      .btn-background-transparent,
      .btn-background-transparent-minor-size{
        color: #FFF;
        border: 3px solid #FFF;
        &:hover {
          background: #e5f1ac;
          color: #00309d;
          border: 3px solid #00309d;
        }
      }
    }
  }
}

.line{
  margin-top: 0;
  font-weight: 400;
  font-size: 2.4rem;
  background: url(../images/grey-h3-line.png) repeat-x 50% 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  a{
    color: #00309d;
    background-color:white;
    padding-right: 3.4rem;
  }
}
.line.green{
  a{
    background-color:#daea96;
  }
}

.news-section-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 2.4rem;
  background: url(../images/grey-h3-line.png) repeat-x 50% 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before{
    content: url(../images/news-h3-ico.png);
    width: 49px;
    display: block;
    height: 45px;
    background: #FFF;
  }
  a{
    color: #00309d;
    background-color: #FFF;
    padding-right: 3.125rem;
  }
}
.newsletter-section-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before{
    content: '';
    background: url(../images/ico-newsletter.png) 50% no-repeat ;
    width: 49px;
    display: block;
    height: 45px;
  }
  a{
    color: #FFF;
    background: transparent;
    padding-right: 3.125rem;
  }
}
.social-media-section-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before{
    content: '';
    background: url(../images/ico-social-media.png) 50% no-repeat ;
    width: 49px;
    display: block;
    height: 45px;
  }
  a{
    color: #FFF;
    background: transparent;
    padding-right: 3.4rem;
  }
}
.events-section-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before{
    content: url(../images/events-h3-ico.png);
    width: 49px;
    display: block;
    height: 45px;
    background: #FFF;
  }
  a{
    color: $text-color-blue;
    background: #FFF;
    padding-right: 3.125rem;
  }
}

.home-news-item{
  clear: both;
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bcd75b;
  padding-bottom: 1.4rem;
  .image-news-item{
    img{
      width: 100%;
      min-width: 220px;
      height: auto;
      margin-top: 01rem;
      border-radius: 0.8rem;
    }
  }
  .body-news-item{
    padding-left: 0.8rem;
    position: relative;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    width: 100%;
    .publication-date{
      color: #57575a;
      font-size: 1rem !important;
    }
    .summary-news{
      font-size: 1.4rem;
      h2{
        display: block;
        font-size: 2rem;
        margin-top: 0.5rem;
        padding-bottom: 0.3rem;
        a{
          color: $text-color-blue;
        }
      }
      strong{
        font-weight: normal;
      }
    }
    .more-link{
      margin-top: 2rem;
      display: inline-block;
    }
  }
  &:nth-child(2n+1){
    flex-direction: row-reverse;
    border-bottom: 0;
    .body-news-item {
      padding-left: 0rem;
      padding-right: 0.8rem;
    }
  }
}

.event-items-list-home{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #CCC;
  &:last-child{
    border-bottom: 0;
  }
  .group-left{
    font-size: 0.8rem !important;
    .country-city{
      text-align: right;
    }
  }
  h2{
    font-size: 2rem;
  }
}

section.home-news-events {
  margin: 4rem auto;
}
.oficial-campaign-partner{
  margin: 2rem auto 4rem auto;
  .homepage-partners{
    .attachment.attachment-before {
      text-align: center;
      width: 80%;
      margin: 0.5rem auto;
    }
  }
  h2.line{
    color: #00309d;
    margin-top: 0;
    font-weight: 400;
    background: url(../images/grey-h3-line.png) repeat-x 50% 75%;
    margin-bottom: 0;
    span {
      background: #FFF;
      padding-right: 0.7em;
    }
  }
}

.campaign-partners-home{
  padding: 3rem 0;
  > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h1{
      color: white;
      font-size: 2.8rem;
      font-weight: bold;
    }
    > p{
     .see-all-link{
       text-transform: uppercase;
     }
    }
  }
}

.multicarousel--block {
  overflow: hidden;
  padding: 2rem 3.5rem 3.5rem;
  width: 100%;
  //height: 180px;
  margin: 1rem auto;
  position: relative;
  display: flex;
  .multicarousel--block--inner {
    transition: 1s ease all;
    float: left;
    display: flex;
    justify-content: center;
    .item{
      border-right: 1px solid #CCC;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      > a {
        display: flex;
        height: 100%;
        align-items: center;
        img{

        }
      }
      .views-field {

      }
    }
  }
  button{
    background-color: #FFF;
    height: 100%;
    cursor: pointer;
    border: 0;
    &:hover, &:focus, &:active{
      background-color: #FFF !important;
      border: 0 !important;
      box-shadow: none !important;
      img{
        opacity: 0.8;
      }
    }
  }
  .leftLst {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .rightLst {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}


.home-newsletter-social-media{
  min-height: 340px;
  color: white;
  padding: 2rem 0;
  .container > .row{
    flex-wrap: nowrap;
  }
  .home-newsletter{

  }
  .vertical-line{
    width: 1px;
    min-height: 348px;
    border-right: 2px dashed #FFF;
  }
  .home-social-media{
    /* Share links */
   .social-network{
        list-style-type: none;
        padding: 0;
        width: auto;
        margin: 3rem 0;
        display: flex;
        justify-content: flex-start;
        li{
          a{
            margin: 0 0 0 10px;
            padding: 5px;
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: 50%;
            label{
              display: none;
            }
          }
          &.twitter{
            a{
              background: $text-color-blue;
              -webkit-mask-image: url(../images/svg_icons/brands/twitter.svg);
              -webkit-mask-repeat:no-repeat;
              mask-image: url(../images/svg_icons/brands/twitter.svg);
              mask-repeat:no-repeat;
            }
          }
          &.facebook{
            a{
              background: $text-color-blue;
              -webkit-mask-image: url(../images/svg_icons/brands/facebook-square.svg);
              -webkit-mask-repeat:no-repeat;
              mask-image: url(../images/svg_icons/brands/facebook-square.svg);
              mask-repeat:no-repeat;
            }
          }
          &.youtube{
            a{
              background: $text-color-blue;
              -webkit-mask-image: url(../images/svg_icons/brands/youtube.svg);
              -webkit-mask-repeat:no-repeat;
              mask-image: url(../images/svg_icons/brands/youtube.svg);
              mask-repeat:no-repeat;
            }
          }
          &.linkedin{
            a{
              background: $text-color-blue;
              -webkit-mask-image: url(../images/svg_icons/brands/linkedin-in.svg);
              -webkit-mask-repeat:no-repeat;
              mask-image: url(../images/svg_icons/brands/linkedin-in.svg);
              mask-repeat:no-repeat;
            }
          }
          &.flickr{
            a{
              background: $text-color-blue;
              -webkit-mask-image: url(../images/svg_icons/brands/flickr.svg);
              -webkit-mask-repeat:no-repeat;
              mask-image: url(../images/svg_icons/brands/flickr.svg);
              mask-repeat:no-repeat;
            }
          }
          &.slideshare{
            display: none;
            a{
              background: $text-color-blue;
              -webkit-mask-image: url(../images/svg_icons/brands/facebook-f.svg);
              -webkit-mask-repeat:no-repeat;
              mask-image: url(../images/svg_icons/brands/facebook-f.svg);
              mask-repeat:no-repeat;
            }
          }
        }
      }
  }
}



