/* Home page */

.homepage-banner-view{
  display: flex;
  flex-direction: revert;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
  article{
    text-align: center;
    padding: 1.2rem;
    h1{
      padding: 1.6rem 15px 0.8rem;
      margin: 0.8rem 0;
      border-bottom: 0;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }
    h2{
      font-style: normal;
      font-weight: 600;
    }
    p{
      padding-top: 1rem;
      padding-bottom: 1.2rem;
      max-width: 575px;
      margin: 0 auto;
      font-size: 1rem;
    }
    .btn-background-transparent,
    .btn-background-transparent-minor-size{
      background: transparent;
      min-width: 208px;
      width: auto;
      color: #acc701;
      border: 3px solid #acc701;
      padding: 0.4rem 2.2rem 0.4rem 1.2rem;
      border-radius: 7px;
      font-weight: 600;
      position: relative;
      font-size: 1rem;
      &:hover {
        background: #e5f1ac;
        color: #00309d;
        border: 3px solid #00309d;
        font-weight: 600;
        text-decoration: none;
      }
    }
    &.banner-0,
    &.banner-3{
      background: url(../images/background-splash-box1.png) no-repeat #acc701 !important;
      h1{
        color: #FFF;
      }
      h2{
        color: #FFF;
      }
      p{
        color: #FFF;
      }
      .btn-background-transparent,
      .btn-background-transparent-minor-size{
        color: #FFF;
        border: 3px solid #FFF;
        &:hover {
          background: #e5f1ac;
          color: #00309d;
          border: 3px solid #00309d;
        }
      }
    }
  }
}


.news-section-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 1.5rem;
  background: url(../images/grey-h3-line.png) repeat-x 50% 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before{
    content: url(../images/news-h3-ico.png);
    width: 49px;
    display: block;
    height: 45px;
    background: #FFF;
  }
  a{
    color: #00309d;
    background-color: #FFF;
    padding-right: 3.125rem;
  }
}
.events-section-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 1.5rem;
  background: url(../images/grey-h3-line.png) repeat-x 50% 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before{
    content: url(../images/events-h3-ico.png);
    width: 49px;
    display: block;
    height: 45px;
    background: #FFF;
  }
  a{
    color: #00309d;
    background-color: #FFF;
    padding-right: 3.125rem;
  }
}

.home-news-item{
  clear: both;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bcd75b;
  padding-bottom: 1.25rem;
  .image-news-item{
    img{
      width: 100%;
      min-width: 220px;
      height: auto;
      margin-top: 0.5em;
      border-radius: 0.6rem;
    }
  }
  .body-news-item{
    padding-left: 0.8rem;
    position: relative;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    .publication-date{
      color: #57575a;
      font-size: 0.8rem !important;
    }
    .summary-news{
      font-size: 1rem;
      h2{
        display: block;
        font-size: 1.25rem;
        margin-top: 0.5rem;
        padding-bottom: 0.3rem;
        a{
          color: $text-color-blue;
        }
      }
      strong{
        font-weight: normal;
      }
    }
    .more-link{
      margin-top: 2rem;
      display: inline-block;
    }
  }
  &:nth-child(2n+1){
    flex-direction: row-reverse;
    border-bottom: 0;
    .body-news-item {
      padding-left: 0rem;
      padding-right: 0.8rem;
    }
  }
}

.event-items-list-home{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #CCC;
  &:last-child{
    border-bottom: 0;
  }
  .group-left{
    font-size: 0.8rem !important;
    .country-city{
      text-align: right;
    }
  }
  h2{
    font-size: 1rem;
  }
}

section.home-news-events {
  margin: 4rem auto;
}
.oficial-campaign-partner{
  margin: 2rem auto 4rem auto;
  .homepage-partners{
    .attachment.attachment-before {
      text-align: center;
      width: 80%;
      margin: 0.5rem auto;
    }
  }
  h2.line{
    color: #00309d;
    margin-top: 0;
    font-weight: 400;
    background: url(../images/grey-h3-line.png) repeat-x 50% 75%;
    margin-bottom: 0;
    span {
      background: #FFF;
      padding-right: 0.7em;
    }
  }
}

.multicarousel--block {
  overflow: hidden;
  padding: 2rem 3.5rem 3.5rem;
  width: 100%;
  //height: 180px;
  margin: 1rem auto;
  position: relative;
  display: flex;
  .multicarousel--block--inner {
    transition: 1s ease all;
    float: left;
    display: flex;
    justify-content: center;
    .item{
      border-right: 1px solid #CCC;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      > a {
        display: flex;
        height: 100%;
        align-items: center;
        img{

        }
      }
      .views-field {

      }
    }
  }
  button{
    background-color: #FFF;
    height: 100%;
    cursor: pointer;
    border: 0;
    &:hover, &:focus, &:active{
      background-color: #FFF !important;
      border: 0 !important;
      box-shadow: none !important;
      img{
        opacity: 0.8;
      }
    }
  }
  .leftLst {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .rightLst {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}




