
/* Colors */

$text-color-blue: #003399; //azul
$text-color-blue-light: #8d98c5; //azul claro
$text-color-white: #FFFFFF;
$bg-color-white: #FFF;
$text-color-grey-2: #59595A;
$text-color-green: #749b00;
$border-dotted-green: #749b00;
$border-dotted-green-2: #ACC700;
$background-light-green: #EEF4CC;
$text-color-grey-border-event: #B0B1B2;
$text-color-green-after: #c1e000;


$text-color-lightgreen: #bcd75b;
$text-color-lightgreen-2: #9cca00;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/* End Colors */

/* /private_workbench */

.private-zone-full-wrapper {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0 3rem;
  clear: both;
  position: relative;
  @media (max-width: 400px) {
    display: grid;
  }

  .private-zone-act-partner {
    text-align: right;
    background: transparent;
    border: 2px solid $text-color-lightgreen;
    //padding: 0 1em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    min-height: 130px;
    max-height: 130px;
    //  min-width: 100%;
    position: relative;
    width: 260px;
    margin: 2em 20px;
    @media (max-width: 1530px) {
      width: 330px;
    }
    @media (max-width: 1199px) {
      width: 270px;
    }
    @media (max-width: 400px) {
      width: 250px;
    }

    a {
      height: 100%;
      font-weight: bold;
      color: $text-color-blue;
      font-size: 1em;
      padding: 0 1em 0 100px;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      font-style: normal;
      background: url('/sites/hwc/files/images/custom_blocks/pz-news.png') 0 50% no-repeat;
      background-position: left 15px top 30px;

      &:hover {
        text-decoration: none;
        filter: brightness(0) invert(1);
        border: 0 solid transparent;
      }
    }

    &:hover {
      color: $text-color-white;
      background: $bg-color-blue;
      text-decoration: none;
      border: 0 solid $text-color-blue;
    }
  }

  .private-zone-act-partner-inside {
    .act-partner-switcher {
      margin-bottom: 450px;

      .act-partner-text-wrapper {
        position: absolute;
        top: 170px;
        left: 25px;
        width: 250px;
        text-align: center;

        p {
          color: $text-color-grey-2;
          margin-bottom: 0;
        }

        .form-actions {
          margin-bottom: 0 !important;
        }

        fieldset {
          select {
            display: block;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border: 1px solid #cccccc;
            width: 240px !important;
            margin-top: 1em;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            text-align: center;
            background: unset !important;
          }
        }

        .form-item {
          color: $text-color-grey-2;
        }
      }
    }
  }

  .private-zone-exchange-platform {
    text-align: right;
    background: transparent;
    border: 2px solid $text-color-lightgreen;
    //padding: 0 1em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    min-height: 130px;
    max-height: 130px;
    // min-width: 100%;
    position: relative;
    width: 260px;
    margin: 2em 20px;

    a {
      height: 100%;
      font-weight: bold;
      color: $text-color-blue;
      font-size: 1em;
      padding: 0 1em 0 105px;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      font-style: normal;
      background: url('/sites/hwc/files/images/custom_blocks/pz-good-practice.png') 0 50% no-repeat;
      background-position: left 15px top 30px;

      &:hover {
        text-decoration: none;
        filter: brightness(0) invert(1);
        border: 0 solid transparent;
      }
    }

    &:hover {
      color: $text-color-white;
      background: $bg-color-blue;
      text-decoration: none;
      border: 0 solid $text-color-blue;
    }
    @media (max-width: 1530px) {
      width: 330px;
    }
    @media (max-width: 1199px) {
      width: 270px;
    }
    @media (max-width: 400px) {
      width: 250px;
    }
  }

  .private-zone-partner-resource {
    text-align: right;
    background: transparent;
    border: 2px solid $text-color-lightgreen;
    // padding: 0 1em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    min-height: 130px;
    max-height: 130px;
    // min-width: 100%;
    position: relative;
    width: 260px;
    margin: 2em 20px;

    a {
      height: 100%;
      font-weight: bold;
      color: $text-color-blue;
      font-size: 1em;
      padding: 0 1em 0 100px;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      font-style: normal;
      background: url('/sites/hwc/files/images/custom_blocks/pz-partner-resource.png') 0 50% no-repeat;
      background-position: left 15px top 30px;

      &:hover {
        text-decoration: none;
        filter: brightness(0) invert(1);
        border: 0 solid transparent;
      }
    }

    &:hover {
      color: $text-color-white;
      background: $bg-color-blue;
      text-decoration: none;
      border: 0 solid $text-color-blue;
    }
    @media (max-width: 1530px) {
      width: 330px;
    }
    @media (max-width: 1199px) {
      width: 270px;
    }
    @media (max-width: 400px) {
      width: 250px;
    }
  }
}

/* end /private_workbench */

/* /good-practice-exchange-platform */

.block-facet-blocktype-of-partner{
  position: absolute;
  left: 0;
  top: 150px;
  min-width: 250px;
  top: 60px;

  @media (max-width: 1199px) {
    left: -44px;
  }

  @media (max-width: 1070px) {
    left: 0;
  }

  .facets-widget-checkbox{
    clear: both;
    width: 100%;
    border: 1px solid $text-color-grey-border-event;
    background: $bg-color-white;
   // float: left;
    padding: 0.8em;
    border-radius: 5px;
    margin-top: 15px;
    border-bottom: 1px dotted $border-dotted-green;
    padding-top: 10px;
    padding-bottom: 0;
    h3{
      color: $text-color-black;
      font-size: 1.1em;
      text-align: left;
      margin-bottom: 0px;
      cursor: pointer;
      font-weight: normal;
      padding-top: 0;
      margin-top: 0;
      &:after{
        content: "\e252";
        font-family: "Glyphicons Halflings";
        margin-left: 10px;
        float: right;
        color: $text-color-green-after;
      }
    }
    ul{
      padding-top: 10px;
      padding-left: 0;
      display: block;
      li{
        display: flex;
        align-items: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: none;
        list-style-image: none;
        input{
          margin: 4px 0 0;
          line-height: normal;
          margin-right: 5px;
        }
        label{
          height: 1px;
        }
        a{
          color: $text-color-grey-2;
        }
      }
    }
  }
}

.block-facet-blockinformation-type{
  margin-bottom: 15px;
  position: absolute;
  left: 0;
  min-width: 250px;
  top: 240px;

  @media (max-width: 1199px) {
    left: -44px;
  }
  @media (max-width: 1070px) {
    left: 0;
  }

  .facets-widget-checkbox{
    clear: both;
    width: 100%;
    border: 1px solid $text-color-grey-border-event;
    background: $bg-color-white;
  //  float: left;
    padding: 0.8em;
    border-radius: 5px;
    margin-top: 15px;
    border-bottom: 1px dotted $border-dotted-green;
    padding-top: 10px;
    padding-bottom: 0;
    h3{
      color: $text-color-black;
      font-size: 1.1em;
      text-align: left;
      margin-bottom: 0px;
      cursor: pointer;
      font-weight: normal;
      padding-top: 0;
      margin-top: 0;
      &:after{
        content: "\e252";
        font-family: "Glyphicons Halflings";
        margin-left: 10px;
        float: right;
        color: $text-color-green-after;
      }
    }
    ul{
      padding-top: 10px;
      padding-left: 0;
      display: block;
      li{
        display: flex;
        align-items: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: none;
        list-style-image: none;
        input{
          margin: 4px 0 0;
          line-height: normal;
          margin-right: 5px;
        }
        label{
          height: 1px;
        }
        a{
          color: $text-color-grey-2;
        }
      }
    }
  }
}


.view-good-practice-exchange-platform-view {
  width: 75%;
  float: right;
  margin-top: 30px;
  @media (max-width: 1070px) {
    margin-top: 400px;
    width: 100%;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  .view-header {
    border-top: 1px dotted $text-color-grey-border-event;
    padding-top: 12.5px;
    border-bottom: 1px dotted $text-color-grey-border-event;
    padding-bottom: 12.5px;
    text-align: right;

    @media (max-width: 767px) {
      text-align: left;
      margin-top: 45px;
      border: 0;
    }

    @media (max-width: 450px) {
      padding-top: 45px;
    }

    .exchange-page-header-wrapper {
      .back-private-zone {
        position: absolute;
        left: -285px;
        top: 0;
        top: -25px;
        @media (max-width: 1070px) {
          top: -395px;
          margin-left: -10px;
          left: unset;
        }
        a {
          color: $text-color-blue;
          margin-left: 0.5em;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.42857143;

          &:hover {
            text-decoration: underline;
          }

          &:focus {
            text-decoration: underline;
          }

          &:before {
            content: '';
            background: url('/sites/hwc/files/images/custom_blocks/pag-back.png');
            width: 6px;
            height: 10px;
            position: absolute;
            margin-left: -10px;
            background-size: cover;
            margin-top: 6px;
          }
        }
      }

      .new-document-button {
        a {
          display: block;
          position: absolute;
          height: 35px;
          width: 135px;
          top: 54px;
          color: $text-color-white;
          text-align: center;
          line-height: 32px;
          font-weight: normal;
          font-style: normal;
          background: $bg-color-blue;
          border-radius: 7px;
          text-decoration: none;

          @media (max-width: 767px) {
            top: 84px;
          }

          @media (max-width: 450px) {
            top: 114px;
          }
        }
      }
    }
  }

  .view-content {
    margin-top: 60px;
    .views-row{
      @media (max-width: 767px) {
        display: grid;
      }
    }
    .views-row {
      .views-field-field-cover-image {
        float: left;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 15px;

        img {
          border: 2px solid $text-color-lightgreen;
          border-radius: 7px;
        }
      }

      .views-field-field-publication-date {
        font-weight: 600;
        float: none;
        color: $text-color-grey;
        // font-size: 0.85714em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      .views-field-title {
        color: $text-color-blue;
        font-weight: bold;
        font-size: 1.35em;
        padding-bottom: 0.5em;

        a {
          &:hover {
            text-decoration: underline;
          }

          &:focus {
            text-decoration: underline;
          }
        }
      }

      .views-field-field-summary {
        p {
          font-size: 14px;
        }
      }

      .practice-exchange-downloads {
        i {
          font-size: 16px;
        }

        a {
          display: inline-block;
          font-style: normal;
          font-weight: bold;
          color: $text-color-blue;
          text-transform: uppercase;

          &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background: url('/sites/hwc/files/images/custom_blocks/download.png');
            background-size: cover;
            margin-top: 2px;
            margin-left: 3px;
          }
        }

        .publication-download-label {
          color: $text-color-grey-2;
          font-weight: bold;
          margin-left: 15px;
        }
      }

      .views-field-nothing {
        margin-top: 20px;

        a {
          color: $text-color-blue;
          border: 1px solid $text-color-blue;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          text-transform: uppercase;
          padding: 2px 7px 2px 7px;
          padding-top: 2px !important;
          padding-bottom: 2px !important;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          display: block;
          float: left;
          margin-left: 0;
          transition: 300ms;
          background-position: 110%;
          text-decoration: none;
          background: url('/sites/hwc/files/images/custom_blocks/ico-plus-green.png') no-repeat 91% 4px;
          background-color: transparent;
          padding-right: 2em;

          &:hover {
            color: $text-color-lightgreen;
            border: 1px solid $text-color-lightgreen;
            background-color: transparent;
          }
        }
      }
    }
  }

  .displaying-results-wrapper {
    text-align: right;
  }

  .new-document-button{
    position: absolute;
    right: 140px;
    top: 0;
  }

  .views-exposed-form{
    .form-row {
      .js-form-item-title{
        label{
          display: none;
        }
        input{
          position: absolute;
          left: -287px;
          top: 0;
          max-width: 250px;
          height: 34px;
          background: url('/sites/hwc/files/images/custom_blocks/green-search.png') no-repeat 96% 55% #ffffff;

          @media (max-width: 1070px) {
            top:-370px;
            margin-left: -15px;
            left:0;
          }
        }
      }
      fieldset {
        label {
          color: $text-color-grey-2 !important;
        }

        select {
          border: 1px solid $text-color-grey-border-event !important;
          padding: 6px 12px !important;
          background: unset !important;
          width: auto !important;
        }
      }
    }
  }
  .exchange-page-header-wrapper{
    .back-private-zone{
    }
  }
  .view-filters{
    .js-form-item-sort-by{
      position: absolute;
      top: 0;
      display: inherit;
      label{
        width: 80px;
        padding-top: 10px;
        font-size: 14px !important;
      }
      select{
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: $bg-color-white;
        background-image: none;
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        border-radius: 0;
        color: $text-color-black;
        width: auto;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        border: 1px solid $text-color-grey-border-event;
        margin-top: 7.5px;
      }
    }
    .js-form-item-sort-order{
      position: absolute;
      top: 0;
      display: inherit;
      left: 225px;

      @media (max-width: 450px) {
        left:0;
        top:40px;
      }
      label{
        width: 80px;
        padding-top: 10px;
        font-size: 14px;
      }
      select{
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: $bg-color-white;
        background-image: none;
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        border-radius: 0;
        color: $text-color-black;
        width: auto;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        border: 1px solid $text-color-grey-border-event;
        margin-top: 7.5px;
        text-transform: uppercase;
        option{
          text-transform: uppercase;
        }
      }
    }
  }
}

.block-facet-blockinformation-type{
  .facets-widget-checkbox{
    h3{
      cursor: pointer;
    }
    ul{

    }
  }
}
.block-facet-blocktype-of-partner{
  .facets-widget-checkbox{
    h3{
      cursor: pointer;
    }
    ul{

    }
  }
}

/*  end /good-practice-exchange-platform */

/*  /partner_resources */

.partner-resources-full-wrapper {
  .back-private-zone1 {
    left: 15px;
    position: absolute;

    a {
      color: $text-color-blue;
      margin-left: 0.5em;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.42857143;

      &:before {
        content: '';
        background: url('/sites/hwc/files/images/custom_blocks/pag-back.png');
        width: 6px;
        height: 10px;
        position: absolute;
        margin-left: -10px;
        background-size: cover;
        margin-top: 6px;
      }
    }
  }

  .panel-flexible {
    .panels-flexible-row-new-1 {
      padding-top: 20px;
      @media (max-width: 991px) {
        padding-top: 40px;
      }
      p {
        border: none;
        clear: both;
        margin-top: 0 !important;
        padding-bottom: 10px !important;
        padding-top: 0 !important;
        text-align: center;
        color: $text-color-grey-2;
      }

      ul {
        border-bottom: 1px dotted $border-dotted-green;
        margin-top: 10px;
        padding-bottom: 2em !important;
        list-style: disc;
        padding-left: 0;
      }
    }

    .field-item {
      ul {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted $border-dotted-green;
        padding: 0 40px;
        @media (max-width: 991px) {
          padding: 0 15px;
        }

        li {
          color: $text-color-grey-2;
        }

        li:last-child {
          a {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .panels-flexible-region-inside {
    h2 {
      font-weight: 100;
      font-style: normal;
      font-size: 30px;
      text-align: left;
      border-bottom: none;
      margin-top: 25px;
      color: $border-dotted-green;
      clear: both;
      padding-bottom: 15px;
    }
  }

  .healthy-workplaces-logo-wrapper {
    ul {
      border-bottom: 1px dotted $border-dotted-green;
      padding-bottom: 10px;
      margin-top: 10px;
      list-style: none;
      clear: both;
      height: 1%;
      overflow: hidden;

      li {
        border: 1px solid #CCC;
        float: left;
        padding: 1em;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-grid;

        span:nth-child(3) {
          font-size: 1px !important;
          color: $text-color-white;
        }
      }

      li:last-child {
        display: block;
        border: 0;
        padding: unset;
        text-align: unset;
        float: none;
        clear: both;
        margin-bottom: 0;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }

  .panels-flexible-region-new-center {
    padding: 0;
  }

  .field-name-body {
    .field-item {
      p {
        border-bottom: 1px dotted $border-dotted-green;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 0;
      }

      strong {
        color: $text-color-grey-2;
      }

      a {
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        color: $text-color-blue;
        display: inline-block !important;
      }
    }
  }

  .partner-resources-footer-block {
    #contact-us {
      clear: both;

      h2 {
        text-align: center;
        font-weight: bold;
        font-style: normal;
        margin-top: 1em;

        &:before {
          content: url('/sites/hwc/files/images/custom_blocks/contact.png');
          display: block;
        }
      }

      p {
        text-align: center;
      }
    }

    .pane-hwc-partner-hwc-partner-user-account-edit {
      .contextual-links-processed {
        display: none;
      }

      h2 {
        text-align: center;
        font-weight: bold;
        font-style: normal;
        margin-top: 1em;

        &:before {
          content: url('/sites/hwc/files/images/custom_blocks/password.png');
          display: block;
        }
      }

      a {
        text-align: center;
        font-weight: bold;
        color: $text-color-blue;
      }

      .pane-content {
        text-align: center;
      }
    }
  }

  .back-private-zone2 {
    padding-bottom: 70px;
    margin-top: 10px;
    @media (max-width: 767px) {
      display: none;
    }

    a {
      background: url('/sites/hwc/files/images/custom_blocks/pag-back.png') no-repeat 1px 4px;
      color: $text-color-blue;
      margin-left: 0;
      font-weight: bold;
      text-decoration: none !important;
      padding-left: 1.2em;
      position: absolute;
      left: 67px;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
  .partner-resources-footer-block{
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}

/* end /partner_resources */

/* /update-profile */

.public-profile-full-wrapper {
  margin-bottom: 50px;
  border-bottom: 2px solid #bcd75b;
  //margin-left: -135px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 40px;

  .public-profile-title {
    text-align: center;

    h1 {
      color: $text-color-blue;
      font-weight: 400;
    }
  }

  .public-profile-full-inner {
    justify-content: center;
    display: flex;
    // flex-flow: row wrap;
    margin: 1rem 0 3rem;
    clear: both;
    position: relative;
    margin-bottom: 5px;

    .create-event-wrapper {
      text-align: right;
      background: transparent;
      border: 2px solid $text-color-lightgreen;
      //padding: 0 1em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      font-weight: 600;
      min-height: 130px;
      max-height: 130px;
      //  min-width: 100%;
      position: relative;
      width: 260px;
      margin: 2em 20px;

      a {
        height: 100%;
        font-weight: bold;
        color: $text-color-blue;
        font-size: 1em;
        padding: 0 1em 0 100px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-style: normal;
        background: url('/sites/hwc/files/images/custom_blocks/pz-events.png') 0 50% no-repeat;
        background-position: left 15px top 30px;

        &:hover {
          text-decoration: none;
          filter: brightness(0) invert(1);
          border: 0 solid transparent;
        }
      }

      &:hover {
        color: $text-color-white;
        background: $bg-color-blue;
        text-decoration: none;
        border: 2px solid $text-color-blue;
      }
    }

    .create-new-wrapper {
      text-align: right;
      background: transparent;
      border: 2px solid $text-color-lightgreen;
      //padding: 0 1em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      font-weight: 600;
      min-height: 130px;
      max-height: 130px;
      //  min-width: 100%;
      position: relative;
      width: 260px;
      margin: 2em 20px;

      a {
        height: 100%;
        font-weight: bold;
        color: $text-color-blue;
        font-size: 1em;
        padding: 0 1em 0 100px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-style: normal;
        background: url('/sites/hwc/files/images/custom_blocks/pz-news.png') 0 50% no-repeat;
        background-position: left 15px top 30px;

        &:hover {
          text-decoration: none;
          filter: brightness(0) invert(1);
          border: 0 solid transparent;
        }
      }

      &:hover {
        color: $text-color-white;
        background: $bg-color-blue;
        text-decoration: none;
        border: 2px solid $text-color-blue;
      }
    }

    .practice-exchange-wrapper {
      text-align: right;
      background: transparent;
      border: 2px solid $text-color-lightgreen;
      //padding: 0 1em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      font-weight: 600;
      min-height: 130px;
      max-height: 130px;
      //  min-width: 100%;
      position: relative;
      width: 260px;
      margin: 2em 20px;

      a {
        height: 100%;
        font-weight: bold;
        color: $text-color-blue;
        font-size: 1em;
        padding: 0 1em 0 100px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-style: normal;
        background: url('/sites/hwc/files/images/custom_blocks/pz-good-practice.png') 0 50% no-repeat;
        background-position: left 15px top 30px;

        &:hover {
          text-decoration: none;
          filter: brightness(0) invert(1);
          border: 0 solid transparent;
        }
      }

      &:hover {
        color: $text-color-white;
        background: $bg-color-blue;
        text-decoration: none;
        border: 2px solid $text-color-blue;
      }
    }

    .partner-resources-wrapper {
      text-align: right;
      background: transparent;
      border: 2px solid $text-color-lightgreen;
      //padding: 0 1em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      font-weight: 600;
      min-height: 130px;
      max-height: 130px;
      //  min-width: 100%;
      position: relative;
      width: 260px;
      margin: 2em 20px;

      a {
        height: 100%;
        font-weight: bold;
        color: $text-color-blue;
        font-size: 1em;
        padding: 0 1em 0 100px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-style: normal;
        background: url('/sites/hwc/files/images/custom_blocks/pz-partner-resource.png') 0 50% no-repeat;
        background-position: left 15px top 30px;

        &:hover {
          text-decoration: none;
          filter: brightness(0) invert(1);
          border: 0 solid transparent;
        }
      }

      &:hover {
        color: $text-color-white;
        background: $bg-color-blue;
        text-decoration: none;
        border: 2px solid $text-color-blue;
      }
    }

    .update-profile-wrapper {
      text-align: right;
      background: transparent;
      border: 2px solid $text-color-lightgreen;
      //padding: 0 1em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      font-weight: 600;
      min-height: 130px;
      max-height: 130px;
      //  min-width: 100%;
      position: relative;
      width: 260px;
      margin: 2em 20px;

      a {
        height: 100%;
        font-weight: bold;
        color: $text-color-blue;
        font-size: 1em;
        padding: 0 1em 0 100px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-style: normal;
        background: url('/sites/hwc/files/images/custom_blocks/pz-update-profile.png') 0 50% no-repeat;
        background-position: left 15px top 30px;

        &:hover {
          text-decoration: none;
          filter: brightness(0) invert(1);
          border: 0 solid transparent;
        }
      }

      &:hover {
        color: $text-color-white;
        background: $bg-color-blue;
        text-decoration: none;
        border: 2px solid $text-color-blue;
      }
    }
  }

  .news-events-buttons-wrapper {
    display: inline-flex;
    margin-left: 20px;

    .my-events-wrapper {
      margin-right: 85px;

      a {
        font-weight: bold;
        font-style: normal;
        background: $background-light-green;
        padding: 5px 20px;
        border-radius: 7px;
      }
    }

    .my-news-wrapper {
      a {
        font-weight: bold;
        font-style: normal;
        background: $background-light-green;
        padding: 5px 20px;
        border-radius: 7px;
      }
    }
  }
}

/* end /update-profile */

/* /campaign-partners/good-practice-exchange */

.block-related-resources-wiki-block{
  h2{
    display: none;
  }
  .related-resources-wiki-wrapper{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: column;
    .recommended-tool{
      text-align: right;
      background: transparent;
      color: #00309d;
      border: 2px solid #bcd75b;
      padding: 1em 1em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      font-weight: 600;
      min-height: 78px;
      min-width: 200px;
      position: relative;
      width: 100%;
      margin-left: 0;
      margin-top: 1em;
      padding-left: 1em;
    }
    span{
      display: block;
      float: right;
      width: 100%;
      padding-left: 1em;
      word-break: break-word;
    }
  }
}

.block-events-news-views-block {
  background: url('/sites/hwc/files/images/custom_blocks/background-fop.png') no-repeat;
  background-size: cover;
  padding: 2em;
  float: left;
  width: 100%;
  // display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  margin-bottom: 1em;

  .dual-views-block-newsevents {
    width: 100%;

    .news-block-wrapper {
      background: $bg-color-white;
      float: left;
      padding: 1em;
      width: 66%;
      border-radius: 15px;
      height: 100%;

      @media (max-width: 1199px) {
        width: 100%;
        margin-bottom: 30px;
      }

      .news-block-view-summaries {
        h3 {
          position: relative;
          color: $text-color-blue;
          margin-top: 0;
          font-weight: 400;
          background: url('/sites/hwc/files/images/custom_blocks/grey-h3-line.png') repeat-x 50% 82% $bg-color-white;
          margin: 0;
          padding: 19px 6px 0 11px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          font-size: 2.2em;
          margin-bottom: 15px;

          @media (max-width: 480px) {
            background: unset;
          }

          span {
            padding-left: 82px;
            background: $bg-color-white;
            padding-right: 15px;
            margin-left: -11px;
            @media (max-width: 576px) {
              padding-left: 52px;
            }
          }

          &:before {
            content: ' ';
            background: url('/sites/hwc/files/images/custom_blocks/news-h3-ico.png') no-repeat $bg-color-white;
            position: absolute;
            top: 11px;
            left: 28px;
            width: 50px;
            display: block;
            height: 45px;
            float: left;
            @media (max-width: 576px) {
              left: -2px;
            }
          }

          &:after {
            width: 30px;
            height: 15px;
            content: ' ';
            display: block;
            position: absolute;
            right: 0;
            top: 32px;
            background: $text-color-white;
          }
        }

        .view-id-news_last_new.view-display-id-block_1 {
          border-bottom: 1px solid $border-dotted-green-2;
          padding-bottom: 2em;

          .item-list {
            width: 100%;

            .news-block-left-image {
              .views-field-field-image {
                float: left;
                padding-right: 25px;

                @media (max-width: 767px) {
                  display: none;
                }

                img {
                  border-radius: 10px;
                  max-width: 220px;
                }
              }

              .views-field-field-first-publication-date {
                float: none;
                margin-top: 20px;
                font-weight: 600;
                color: $text-color-grey-2;
              }

              .views-field-title {
                font-size: 1.4em;
                font-style: normal;
                padding-top: 0.5em;
                display: block;
              }

              .views-field-field-summary{
                p{
                  margin-bottom: 0;
                }
              }

              .views-field-view-node {
                a {
                  display: block;
                  float: left;
                  font-size: 12px;
                  margin-left: 0;
                  background-color: transparent;
                  color: $text-color-blue;
                  border: 1px solid $text-color-blue;
                  border-top-left-radius: 3px;
                  border-bottom-left-radius: 3px;
                  border-top-right-radius: 15px;
                  border-bottom-right-radius: 15px;
                  text-transform: uppercase;
                  padding: 2px 7px 2px 7px;
                  padding-right: 2em;
                  padding-top: 2px !important;
                  padding-bottom: 2px !important;
                  font-weight: bold;
                  transition: 300ms;
                  text-decoration: none;
                  background: url('/sites/hwc/files/images/custom_blocks/ico-plus-green.png') no-repeat 91% 4px;
                  margin-top: 10px;

                  &:hover {
                    color: $text-color-lightgreen-2;
                    border: 1px solid $text-color-lightgreen-2;
                  }
                }
              }
            }
          }
        }

        .view-id-news_last_new.view-display-id-block_2 {
          .item-list {
            width: 100%;
            position: relative;
            min-height: 240px;

            .news-block-right-image {
              .views-field-field-first-publication-date {
                float: none;
                margin-top: 20px;
                font-weight: 600;
                color: $text-color-grey-2;

              }

              .views-field-field-image {
                // float: right;
                padding-right: 25px;
                position: absolute;
                right: 0;
                top: 30px;

                @media (max-width: 767px) {
                  display: none;
                }

                img {
                  border-radius: 10px;
                  max-width: 220px;
                }
              }

              .views-field-title {
                font-size: 1.4em;
                font-style: normal;
                padding-top: 0.5em;
                display: block;
                float: left;

                @media (max-width: 1199px) {
                  width: 66%;
                }

                @media (max-width: 991px) {
                  width: 55%;
                }
              }

              .views-field-field-summary {
                float: left;
                clear: both;

                @media (max-width: 1199px) {
                  width: 66%;
                }

              }

              .views-field-view-node {
                float: left;
                clear: both;
                //   margin-top: 30px;
                a {
                  display: block;
                  float: left;
                  font-size: 12px;
                  margin-left: 0;
                  background-color: transparent;
                  color: $text-color-blue;
                  border: 1px solid $text-color-blue;
                  border-top-left-radius: 3px;
                  border-bottom-left-radius: 3px;
                  border-top-right-radius: 15px;
                  border-bottom-right-radius: 15px;
                  text-transform: uppercase;
                  padding: 2px 7px 2px 7px;
                  padding-right: 2em;
                  padding-top: 2px !important;
                  padding-bottom: 2px !important;
                  font-weight: bold;
                  transition: 300ms;
                  text-decoration: none;
                  background: url('/sites/hwc/files/images/custom_blocks/ico-plus-green.png') no-repeat 91% 4px;
                  margin-top: 10px;

                  &:hover {
                    color: $text-color-lightgreen-2;
                    border: 1px solid $text-color-lightgreen-2;
                  }
                }
              }
            }
          }
        }

        .view-footer {
          .news-footer-block-allnews {
            display: block;
            clear: both;
            position: relative;
            color: $text-color_white;
            width: auto;
            background: $bg-color-blue;
            border-radius: 5px;

            a {
              background: url('/sites/hwc/files/images/custom_blocks/ico-plus-20.png') no-repeat 98.5% 3px $bg-color-blue;
              text-transform: uppercase;
              color: $text-color-white;
              border-top-left-radius: 7px;
              border-bottom-left-radius: 7px;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              padding: 3px 3.5em 3px 0.7em;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
              float: left;
              margin-top: 1em;
              margin-bottom: 20px;

              &:hover {
                color: $text-color-white;
                background: url('/sites/hwc/files/images/custom_blocks/ico-next-20-white-hover.png') no-repeat 98.5% 3px $border-dotted-green-2;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .events-block-wrapper {
      background: $bg-color-white;
      float: left;
      padding: 1em;
      width: 31%;
      border-radius: 15px;
      margin-left: 2em;
      height: 100%;
      min-height: 650px;

      @media (max-width: 1199px) {
        width: 100%;
        min-height: unset;
        margin-left: 0;
      }

      .events-block-view-summaries {
        h3 {
          position: relative;
          color: $text-color-blue;
          margin-top: 0;
          font-weight: 400;
          background: url('/sites/hwc/files/images/custom_blocks/grey-h3-line.png') repeat-x 50% 82% $bg-color-white;
          margin: 0;
          padding: 17px 6px 0 11px;
          font-size: 2.2em;

          @media (max-width: 480px) {
            background: unset;
          }

          span {
            padding-left: 30px;
            background: $bg-color-white;
            padding-right: 10px;
          }

          &:before {
            content: ' ';
            background: url('/sites/hwc/files/images/custom_blocks/events-h3-ico.png') no-repeat $bg-color-white;
            position: absolute;
            top: 11px;
            left: -8px;
            width: 41px;
            display: block;
            height: 45px;
            float: left;
          }
        }

        .item-list {

          @media (max-width: 1199px) {
            width: 100%;
          }

          li {
            border-bottom: 1px solid $text-color-grey-border-event;
            padding-bottom: 35px !important;
            padding-top: 1em;
            padding-left: 0;
            padding-bottom: 15px;

            @media (max-width: 1199px) {
              padding-bottom: 60px !important;
            }

            @media (max-width: 480px) {
              padding-bottom: 35px !important;
            }
          }

          li:last-child {
            border-bottom: 0;
          }

          .views-field-field-start-date {
            float: none;
            //   margin-top: 20px;
            font-weight: 600;
            color: $text-color-grey-2;
          }

          .views-field-field-city {
            float: none;
            font-weight: 600;
            color: $text-color-grey-2;
            margin-bottom: 15px;
          }

          .views-field-field-show-eu-flag {
            width: 65px;
            height: 65px;
            background-size: cover;
            float: left;
            background: url('/sites/hwc/files/images/custom_blocks/European-Union-180x180.png') no-repeat center;
            background-size: cover;
            margin-right: 15px;
          }

          .titlte-news-events {
            font-size: 1.1em;
            color: $text-color-blue;
          }
        }

        .events-block-footer-allevents {
          display: block;
          clear: both;
          position: relative;
          color: $text-color_white;
          width: auto;
          background: $bg-color-blue;
          border-radius: 5px;

          a {
            background: url('/sites/hwc/files/images/custom_blocks/ico-plus-20.png') no-repeat 98.5% 3px $bg-color-blue;
            text-transform: uppercase;
            color: $text-color-white;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 3px 3.5em 3px 0.7em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            float: left;
            margin-top: 1em;
            margin-bottom: 20px;

            &:hover {
              color: $text-color-white;
              background: url('/sites/hwc/files/images/custom_blocks/ico-next-20-white-hover.png') no-repeat 98.5% 3px $border-dotted-green-2;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

/* end /campaign-partners/good-practice-exchange */

/* Edit forms*/

.text-format-wrapper #edit-field-summary-0-format{
  display: none;
}

.text-format-wrapper #edit-body-0-format{
  display: none;
}
/*
.filter-wrapper{
  text-indent: -9999px !important;
}

.js-filter-wrapper{
  display: none !important;
}

.js-form-wrapper{
  display: none !important;
}

.filter-wrapper .form-item{
  display: none !important;
}
*/
/* End edit forms */


/* /campaign-partners/campaign-media-partners */

.section-center{
  .facet-item{
    display: inline-block;
    padding-bottom: 15px;
    a{
      padding: 0px 13px 0 0;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.facet-item-title{
  display: inline-block;
  padding-bottom: 15px;
  a{
    padding: 0px 13px 0 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
  }
}

.block-views-blockpartner-countries-solr-block-1{
  margin-bottom: 60px;
  border-top: 1px dotted #749b00;
  .view-partner-countries-solr{
    .view-grouping{
      width: 100%;
      .view-grouping-header{
        .char-anchor{
          margin-top: 1em;
          margin-bottom: 0em;
          display: inline-block;
          border-bottom: 1px dotted #749b00;
          font-size: 1.2em;
          font-style: normal;
          color: $text-color-green;
          width: 100%;
          clear: both;
          text-transform: uppercase;
          font-weight: bold;
          float:left;
        }
      }
      .view-grouping-content{
        h3 {
          width: 16.6%;
          margin-bottom: 0;
          .vocabulary-country {
            float: left;
            min-height: auto !important;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            border-bottom: 1px dotted #749b00;
            border-left: 1px dotted #749b00;
            padding: 30px 20px 15px;
            height: 185px;

            @media (max-width: 1199px) {
              height: 206px;
            }

            @media (max-width: 767px) {
              display: block;
              width: 100%;
            }

            h2 {
              @media (max-width: 767px) {
                text-align: center;
              }
              a{
                font-size: 14px;
                font-weight: bold;

              }
            }

            img {
              max-width: 110px;
              border: 0;
              border-radius: 7px;
              height: auto;
            }
            .field__item {
              @media (max-width: 767px) {
                justify-content: center;
                display: flex;
                width: 100%;
              }
            }
          }
          @media (max-width: 767px) {
            width: 100%;
          }
        }
        .col-md-2{
          float:left;
          min-height: auto !important;
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          border-bottom: 1px dotted #749b00;
          border-left: 1px dotted #749b00;
          padding: 30px 20px 15px;
          padding-bottom: 24px;
          height: 185px;
          padding-top: 15px;

          @media (max-width: 1199px) {
            height: 206px;
          }

          @media (max-width: 991px) {
            max-width: 25%;
          }

          @media (max-width: 767px) {
            //  display: block;
            max-width: 100%;
          }

          .views-field-title{
            text-align: center;
          }

          .views-field-field-logo{

            @media (max-width: 767px) {
              justify-content: center;
              display: flex;
              width: 100%;
            }

            img{
              max-width: 110px;

            }
          }
        }
      }
    }
  }
}

/* end /campaign-partners/campaign-media-partners */

/* /campaign-partners/official-campaign-partners */

.block-views-blockpartner-countries-campaign-partners--block-1{
  .view-partner-countries-campaign-partners- {
    .form-row {
      max-height: 400px;
      height: 400px;
      fieldset {
        label {
          display: none;
        }
      }

      .form-item-field-orgtype {
        ul {
          display: inline-block;
          padding-left: 0;

          li {
            border: 1px dotted #749b00;
            float: left;
            padding: 15px 30px;
            margin-bottom: 5px;

            @media (max-width: 767px) {
              padding: 7.5px 15px;
            }

            a {
              font-weight: bold;
              font-size: 1.2em;

              @media (max-width: 767px) {
                font-size: 13px;
              }

            }

            a.bef-link--selected {
              color: $text-color-green;
              font-style: normal;
            }

            &::marker {
              content: none;
            }
          }
        }
      }

      #edit-actions {
        button {
          display: none;
        }
      }

      #edit-actions--2 {
        button {
          display: none;
        }
      }
    }

    .view-content {
      margin-bottom: 60px;
      border-top: 1px dotted #749b00;

      h3 {
        width: 100%;
        margin-bottom: 0;

        .char-anchor {
          margin-top: 1em;
          margin-bottom: 0em;
          display: inline-block;
          border-bottom: 1px dotted #749b00;
          font-size: 17px;
          font-style: normal;
          color: $text-color-green;
          width: 100%;
          clear: both;
          text-transform: uppercase;
          font-weight: bold;
          float: left;
        }
      }

      .col-md-2 {
        float: left;
        min-height: auto !important;
        justify-content: center;
        //  display: flex;
        //  flex-wrap: wrap;
        margin: 0;
        border-bottom: 1px dotted #749b00;
        border-left: 1px dotted #749b00;
        padding: 30px 20px 15px;
        padding-bottom: 24px;
        margin-bottom: 10px;
        width: 250px;
        height: 220px;
        display: block;
        text-align: center;

        @media (max-width: 991px) {
          max-width: 50%;
          flex: 0 0 50%;
          margin-bottom: 0;
        }

        @media (max-width: 767px) {
          max-width: 100%;
          flex: 0 0 100%;
          height: unset;
        }

        @media (max-width: 600px) {
          max-width: 100%;
          display: block;
          margin-bottom: 0;
        }

        .views-field-title-1 {
          text-align: center;
        }

        .views-field-field-logo {
          margin-bottom: 15px;

          @media (max-width: 991px) {
            display: flex;
            justify-content: center;
          }

          img {
            max-width: 110px;
          }
        }
      }
    }
  }
}

/* end /campaign-partners/official-campaign-partners */

/* /campaign-partners/enterprise-europe-network */

.block-views-blockpartner-countries-een-osh-ambassador--block-1{
  margin-bottom: 60px;
  border-top: 1px dotted #749b00;
  .view-partner-countries-een-osh-ambassador-{
    .view-grouping{
      width: 100%;
      .view-grouping-header{
        .char-anchor{
          margin-top: 1em;
          margin-bottom: 0em;
          display: inline-block;
          border-bottom: 1px dotted #749b00;
          font-size: 1.2em;
          font-style: normal;
          color: $text-color-green;
          width: 100%;
          clear: both;
          text-transform: uppercase;
          font-weight: bold;
          float:left;
        }
      }
      .view-grouping-content{
        h3 {
          width: 16.6%;
          margin-bottom: 0;
          .vocabulary-country {
            float: left;
            min-height: auto !important;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            border-bottom: 1px dotted #749b00;
            border-left: 1px dotted #749b00;
            padding: 30px 20px 15px;
            height: 185px;

            @media (max-width: 1199px) {
              height: 206px;
            }

            @media (max-width: 767px) {
              display: block;
              width: 100%;
            }

            h2 {
              @media (max-width: 767px) {
                text-align: center;
              }
              a{
                font-size: 14px;
                font-weight: bold;

              }
            }

            img {
              max-width: 110px;
              border: 0;
              border-radius: 7px;
              height: auto;
            }
            .field__item {
              @media (max-width: 767px) {
                justify-content: center;
                display: flex;
                width: 100%;
              }
            }
          }
          @media (max-width: 767px) {
            width: 100%;
          }
        }
        .col-md-2{
          float:left;
          min-height: auto !important;
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          border-bottom: 1px dotted #749b00;
          border-left: 1px dotted #749b00;
          padding: 30px 20px 15px;
          padding-bottom: 24px;
          height: 185px;
          padding-top: 15px;

          @media (max-width: 1199px) {
            height: 206px;
          }

          @media (max-width: 991px) {
            max-width: 25%;
          }

          @media (max-width: 767px) {
          //  display: block;
            max-width: 100%;
          }

          .views-field-field-logo-1{

            @media (max-width: 767px) {
              justify-content: center;
              display: flex;
              width: 100%;
            }

              img{
                max-width: 110px;
                @media (max-width: 767px) {
                  max-width: 110px;
                }
              }
          }
        }
      }
    }
  }
}

/* end /campaign-partners/enterprise-europe-network */
