/*** Stiky header ***/
body{
  //padding-top: 186px !important;
}

#header{
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: top 0.6s linear;
  top: 0px !important;
  background: white;
}

body.scrollup{
  &.scrolled{
    #header{
      position: fixed!important;
      width: 100%;
      z-index: 9999999;
      transition: top 0.6s linear;
      top: 0px !important;
      background: white;
    }
  }
}

body.user-logged-in{
  //padding-top: 230px !important;
  #header{
    padding-top: 4rem;
  }
  &.scrolled{
    #header{
      padding-top: 0px;
    }
  }
}

body.user-logged-in.toolbar-tray-open{
  //padding-top: 260px !important;
  #header{
    padding-top: 7.5rem;
  }
  &.scrolled{
    #header{
      padding-top: 0px;
    }
  }
}

body.user-logged-in.path-frontpage{
  //padding-top: 324px !important;
  #header{
    padding-top: 8rem;
  }
  &.scrolled{
    #header{
      padding-top: 0px;
    }
  }
}

.scrolldown{
  #header{
    position: fixed;
    top: -23rem !important;
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
  }
}

/* Header styles */
.top-header-content {
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 2rem 1rem 2rem;

  .header-logo {
    display: flex;
    flex-direction: row;

    .region-top-header-logos {
      .field--name-field-image {
        display: flex;
        margin: 0;
        align-items: stretch;
        justify-content: space-around;

        > .field__item {
          border-right: 1px solid $text-color-blue;
          padding: 0 2rem 0 0;
          display: flex;
          align-items: center;

          &:nth-child(2) {
            border-right: 0;
            padding-left: 1rem;
            padding-right: 1rem;
          }

          img {
            margin: 0;
          }
        }
      }
    }

    .header-text {
      color: $text-color-blue;
      font-size: 2.4rem;
      line-height: 2.8rem;
      font-weight: bold;
      max-width: 31.5rem;
      padding-top: 0.8rem;
      padding-left: 2rem;
      max-width: 27.3rem;
      padding-left: 1.4rem;
    }
  }

  .header-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 28rem;
    margin-left: auto;
    .print-resize-block {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      margin: 0 0 0.5rem 0;
      /* Print features */
      .printfriendly {
        margin: 0 10px;
        a{
          display: block;
          background-color: $text-color-blue;
          -webkit-mask-image: url(../images/svg_icons/solid/print.svg);
          -webkit-mask-repeat:no-repeat;
          mask-image: url(../images/svg_icons/solid/print.svg);
          mask-repeat:no-repeat;
          width: 20px;
          height: 20px;
          margin: 0 !important;
          position: relative;
          top: -2px;
          label {
            display: none;
          }
        }
      }

      /* Resize features */
      ul.resize-text-block {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0;
        margin: 0 0 0px 0.6rem;
        height: 2.9rem;
        li {
          a {
            color: #91afd9;
            text-transform: lowercase;
            padding: 0 2px;
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 1;
            sup {
              display: none;
            }
          }

          &:nth-child(2) {
            a {
              font-size: 3.2rem;
            }
          }
          &:nth-child(3) {
            a {
              font-size: 4.4rem;
            }
          }
        }
      }

      /* Share links */
      #block-socialmenuheader{
        width: auto;
        margin-left: auto;
        .social-network{
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: space-evenly;
          li{
            a{
              margin: 0 0 0 1rem;
              padding: 0.5rem;
              display: block;
              width: 22px;
              height: 22px;
              background-repeat: no-repeat;
              background-position: 50%;
              label{
                display: none;
              }
            }
            &.twitter{
              a{
                background: $text-color-blue;
                -webkit-mask-image: url(../images/svg_icons/brands/twitter.svg);
                -webkit-mask-repeat:no-repeat;
                mask-image: url(../images/svg_icons/brands/twitter.svg);
                mask-repeat:no-repeat;
              }
            }
            &.facebook{
              a{
                background: $text-color-blue;
                -webkit-mask-image: url(../images/svg_icons/brands/facebook-square.svg);
                -webkit-mask-repeat:no-repeat;
                mask-image: url(../images/svg_icons/brands/facebook-square.svg);
                mask-repeat:no-repeat;
              }
            }
            &.youtube{
              a{
                background: $text-color-blue;
                -webkit-mask-image: url(../images/svg_icons/brands/youtube.svg);
                -webkit-mask-repeat:no-repeat;
                mask-image: url(../images/svg_icons/brands/youtube.svg);
                mask-repeat:no-repeat;
              }
            }
            &.linkedin{
              a{
                background: $text-color-blue;
                -webkit-mask-image: url(../images/svg_icons/brands/linkedin-in.svg);
                -webkit-mask-repeat:no-repeat;
                mask-image: url(../images/svg_icons/brands/linkedin-in.svg);
                mask-repeat:no-repeat;
              }
            }
            &.flickr{
              a{
                background: $text-color-blue;
                -webkit-mask-image: url(../images/svg_icons/brands/flickr.svg);
                -webkit-mask-repeat:no-repeat;
                mask-image: url(../images/svg_icons/brands/flickr.svg);
                mask-repeat:no-repeat;
              }
            }
            &.slideshare{
              display: none;
              a{
                background: $text-color-blue;
                -webkit-mask-image: url(../images/svg_icons/brands/facebook-f.svg);
                -webkit-mask-repeat:no-repeat;
                mask-image: url(../images/svg_icons/brands/facebook-f.svg);
                mask-repeat:no-repeat;
              }
            }
          }
        }
      }
    }
    /* search */
    .search-block {
      position: relative;
      .form-inline {
        display: block;
        input {
          width: 100%;
          height: 34px;
          padding: 0.6rem 1.2rem;
          font-size: 1.2rem;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          color: $text-color-blue;
          border-color: $text-color-blue;
          border: 1px solid $text-color-blue;
        }

        div[data-drupal-selector="edit-actions"] {
          position: absolute;
          top: 0;
          right: 0;
          button[data-drupal-selector="edit-submit"] {
            border: 0;
            border-radius: 0;
            text-indent: 14rem;
            color: $text-color-blue;
            width: 46px;
            height: 34px;
            margin: 0;
            overflow: hidden;
            background: $text-color-blue url('../images/header/search.png') no-repeat center;
            background-size: 16px;
            &:focus {
              outline: 0;
            }
          }
        }
      }
    }
  }
}


/** header styles when sticky **/
.sticky-menu{
  .top-header-content{
    padding: 1.4rem 2.8rem 1.4rem;
    .header-logo {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      width: 100%;
      min-width: 100%;
      .header-text{
        margin-left: auto;
        font-size: 21px;
        max-width: 290px;
        text-align: right;
      }
      .field--name-field-image{
        > .field__item{
          margin: 0;
          img{
            margin: 0;
            width: auto;
          }
          &:nth-child(1){
            img{
              height: 79px;
            }
          }
          &:nth-child(2){
            img{
              height: 70px;
            }
          }
          &:nth-child(3){
            border-right: 0;
            img{
              height: 40px;
            }
          }
        }
      }
    }
    .header-tools{
      display: none;
    }
  }
}

/* masquerade button */
.private-workbench-masquerade {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: flex-end;
  a{
    width: 63%;
    height: 27px;
    padding: 4px 10px;
    background: #003399;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    font-size:1rem;
    display: inline-block;
    font-style: normal;
    &:before {
      content: ">";
      padding-right: 5px;
    }
  }
}

/* Language Selector - Module - Language Switcher Dropdown */
.header-language-search {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0 0;
  //padding-top: 0.6rem;
  .block-language-dropdown-blocklanguage-content{
    width: 63%;
    #lang_dropdown_form_lang-dropdown-form {
    fieldset {
      margin-bottom: 0 !important;
      width: 100%;
    }

    .chosen-container {
      background: #d9e996 !important;
      background-color: #d9e996;
      border: 1px solid $text-color-blue;
      border-radius: 5px;
      height: 27px;
      font-size: 1.2rem;
      padding: 0;
      width: 100% !important;
      color: $text-color-blue;

      .chosen-results {
        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background-color: #e1e6cb;
          border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 100px;
          border: 1px solid #a4b170;
          border-left: 0;
          border-right: 0;
          background-color: #a4b170;
        }

        li.highlighted {
          color: white;
          background-color: #a4b170;
          background-image: linear-gradient(#abc600 20%, #5c8600 90%);
          border-radius: 5px;
          margin: 0 3px 0 0;
        }
      }
    }

    .chosen-container-active.chosen-with-drop,
    .chosen-container-single {
      .chosen-single {
        border: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-image: none;
        background-image: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .chosen-drop {
        background: #d9e996 !important;
        background-color: #d9e996;
        border: 1px solid $text-color-blue;
        left: 0px;
        margin-top: 0px;
        padding: 0.1rem 0.2rem;
        border-radius: 0;
      }
    }
  }
  }
}

/* log in / log out */
.nav-account{
  .nav-link{
    background: #003399 url(../images/header/login.png) no-repeat 91% center;
    border-radius: 5px;
    height: 27px;
    display: block;
    padding-top: 3px;
    color: white;
    padding:0.3rem 2.5rem 0.3rem 1rem;
  }
}


/** Section title **/
.section-title{
  background: url(../images/background-banner.png) no-repeat #acc700;
  background-size: auto;
  background-position: 100% 0;
  padding-top: 0;
  margin-bottom: 0rem;
  width: 100%;
  min-height: 165px;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    min-height: 165px;
    position: absolute;
    top: 0;
    left: 0;
    background: #acc700;
    opacity: 0.4;
    display: none;
  }
  h1 {
    width: 100%;
    color: #FFF;
    font-size:4.4rem;
    font-weight: 700;
    padding: 0;
    border: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0 auto;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
}



