/*** Stiky header ***/
body{
  //padding-top: 186px !important;
}

#header{
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: top 0.6s linear;
  top: 0px !important;
  background: white;
}

body.scrollup{
  &.scrolled{
    #header{
      position: fixed!important;
      width: 100%;
      z-index: 9999999;
      transition: top 0.6s linear;
      top: 0px !important;
      background: white;
    }
  }
}

body.user-logged-in{
  //padding-top: 230px !important;
  #header{
    padding-top: 40px;
  }
  &.scrolled{
    #header{
      padding-top: 0px;
    }
  }
}

body.user-logged-in.toolbar-tray-open{
  //padding-top: 260px !important;
  #header{
    padding-top: 75px;
  }
  &.scrolled{
    #header{
      padding-top: 0px;
    }
  }
}

body.user-logged-in.path-frontpage{
  //padding-top: 324px !important;
  #header{
    padding-top: 80px;
  }
  &.scrolled{
    #header{
      padding-top: 0px;
    }
  }
}

.scrolldown{
  #header{
    position: fixed;
    top: -23rem !important;
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
  }
}

/* Header styles */
.top-header-content {
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 20px 10px 7%;

  .header-logo {
    display: flex;
    flex-direction: row;

    .region-top-header-logos {
      .field--name-field-image {
        display: flex;
        margin: 0;
        align-items: stretch;
        justify-content: space-around;

        > .field__item {
          border-right: 1px solid $text-color-blue;
          padding: 0 1.75rem 0 0;
          display: flex;
          align-items: center;

          &:nth-child(2) {
            border-right: 0;
            padding-left: 0.825rem;
            padding-right: 0.825rem;
          }

          img {
            margin: 0;
          }
        }
      }
    }

    .header-text {
      color: $text-color-blue;
      font-size: 1.4rem;
      font-weight: bold;
      max-width: 315px;
      padding-top: 8px;
      padding-left: 1.5em;
      max-width: 273px;
      padding-left: 1em;
    }
  }

  .header-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20rem;
    margin-left: auto;
    .print-resize-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      /* Print features */
      .printfriendly {
        display: block;
        background: url(../images/share_print_blue.png) no-repeat;
        width: 36px;
        height: 28px;
        margin: 0 !important;
        position: relative;
        top: 7px;

        label {
          display: none;
        }
      }

      /* Resize features */
      ul.resize-text-block {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0;
        margin: 0 0 3px 6px;

        li {
          a {
            color: #91afd9;
            text-transform: lowercase;
            padding: 0 2px;

            sup {
              display: none;
            }
          }

          &:nth-child(2) {
            a {
              font-size: 1.7em;
            }
          }
        }
      }

      /* Share links */
      #block-socialmenuheader{
        width: auto;
        margin-left: auto;
        .social-network{
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: space-evenly;
          li{
            a{
              margin: 0;
              padding: 5px 0 0 5px;
              display: block;
              width: 32px;
              height: 32px;
              background-repeat: no-repeat;
              background-position: 50%;
              label{
                display: none;
              }
            }
            &.twitter{
              a{
                background-image: url(../images/header/header-ico-twitter.png);
              }
            }
            &.facebook{
              a{
                background-image: url(../images/header/header-ico-facebook.png);
              }
            }
            &.youtube{
              a{
                background-image: url(../images/header/header-ico-youtube.png);
              }
            }
            &.linkedin{
              a{
                background-image: url(../images/header/header-ico-linkedin.png);
              }
            }
            &.flickr{
              a{
                background-image: url(../images/header/header-ico-flickr.png);
              }
            }
            &.slideshare{
              display: none;
              a{
                background-image: url(../images/header/header-ico-slideshare.png);
              }
            }
          }
        }
      }
    }
    /* search */
    .search-block {
      position: relative;
      .form-inline {
        display: block;
        input {
          width: 100%;
          height: 34px;
          padding: 6px 12px;
          font-size: 0.8rem;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          color: $text-color-blue;
          border-color: $text-color-blue;
          border: 1px solid $text-color-blue;
        }

        div[data-drupal-selector="edit-actions"] {
          position: absolute;
          top: 0;
          right: 0;
          button[data-drupal-selector="edit-submit"] {
            border: 0;
            border-radius: 0;
            text-indent: 10rem;
            color: $text-color-blue;
            width: 46px;
            height: 34px;
            margin: 0;
            overflow: hidden;
            background: $text-color-blue url('../images/header/search.png') no-repeat center;
            background-size: 16px;
            &:focus {
              outline: 0;
            }
          }
        }
      }
    }
  }
}


//#edit-search-api-fulltext {
//  height: 34px;
//  border: 1px solid #B0B2B3 !important;
//  border-radius: 5px !important;
//  background: url(../images/green-search.png) no-repeat 96% 55% #ffffff;
//  width: 100% !important;
//  float: left;
//  margin-top: 25px;
//  padding-left: 10px;
//  color: #003399;
//}




/* masquerade button */
.private-workbench-masquerade {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: flex-end;
  a{
    padding: 10px 16px;
    background: #003399;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.89em;
    display: inline-block;
    font-style: normal;
    &:before {
      content: ">";
      padding-right: 5px;
    }
  }
}



/* Language Selector - Module - Language Switcher Dropdown */
.header-language-search{
  display: flex;
  justify-content: flex-end;
  margin: 0.7rem 0 0;
  //padding-top: 0.6rem;
  #lang_dropdown_form_lang-dropdown-form{
    fieldset{
      margin-bottom: 0 !important;
    }
    .chosen-container{
      background: #d9e996 !important;
      background-color: #d9e996;
      border: 1px solid $text-color-blue;
      border-radius: 5px;
      padding: 0.1rem 0.2em;
      font-size: 0.8rem;
      color: $text-color-blue;
      .chosen-results{
        &::-webkit-scrollbar {
          width:8px;
        }
        &::-webkit-scrollbar-track {
          background-color:#e1e6cb;
          border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 100px;
          border: 1px solid #a4b170;
          border-left: 0;
          border-right: 0;
          background-color:#a4b170;
        }
        li.highlighted{
          color: white;
          background-color:#a4b170;
          background-image: linear-gradient(#abc600 20%, #5c8600 90%);
          border-radius: 5px;
          margin: 0 3px 0 0;
        }
      }
    }
    .chosen-container-active.chosen-with-drop,
    .chosen-container-single{
      .chosen-single{
        border: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-image: none;
        background-image: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .chosen-drop{
        background: #d9e996 !important;
        background-color: #d9e996;
        border: 1px solid $text-color-blue;
        left: 0px;
        margin-top: 0px;
        padding: 0.1rem 0.2rem;
        border-radius: 0;
      }
    }
  }
}



/* Links in header - Menu with News & Events and Press */
.header-links{
  float: left;
  section.row{
    margin-left: -8px;
    margin-right: 0;
    nav{
      ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        li{
          padding: 0;
          margin: 0;
          a{
            display: block;
            font-size: 0.8rem;
            color: $text-color-blue;
            padding: 0 0 5px 0;
            font-weight: bold;
            max-width: 110px;
            margin-left: -8px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}



/* Hide menu link to view only the Share links images in header and footer */
#block-socialmenu, #block-socialmenu-2{
  > ul{
    list-style: none;
    > li{
      > a{
        display: none;
      }
    }
  }
}

/** Section title **/
.section-title{
  background: url(../images/background-banner.png) no-repeat #acc700;
  background-size: auto;
  background-position: 100% 0;
  padding-top: 0;
  margin-bottom: 0rem;
  width: 100%;
  min-height: 165px;
  h1 {
    width: 100%;
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
    padding: 0;
    border: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0 auto;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
}



