#navbar{
  .navbar-expand-lg{
    margin: 0;
    padding: 0;
  }
  #block-hwc-theme-main-menu{
    width: 100%;
    ul.menu-level-0{
      background: $bg-color-blue;
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border: 0;
      border-radius: 0;
      margin-top: 0px;
      margin-bottom: 0;
      padding: 9px 0;
      > li.menu-item{
        position: relative;
        width: 100%;
        text-align: center;
        border-left: 1px solid $bg-color-white;
        &.menu-item--active-trail{
          > a{
            color: #c1e000;
            font-weight: bold;
          }
        }
        > a{
          text-transform: uppercase;
          color: white;
          display: block;
          padding: 6px 1rem 6px 1rem;
          &:hover{
            text-decoration: none;
          }
        }
        ul.menu-level-1 {
          display: none;
          background: $bg-color-blue;
          list-style: none;
          width: 100%;
          left: 0;
          margin-left:0;
          margin-top: 0;
          box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
          border: none;
          text-transform: initial;
          padding: 6px 8px 6px 8px;
          border-radius: 0px;
          li{
            display: flex;
            align-items: baseline;
            a, span {
              font-size: 0.875rem;
              padding: 6px 0;
              color: white;
              text-align: left;
              width: 100%;
              &:hover{
                font-weight: bold;
                text-decoration: none;
              }
              &.menu-item--active-trail{
                font-weight: bold;
              }
            }
            &:before {
              content: '> ';
              margin-right: 5px;
              color: white;
              font-weight: bold;
            }
          }
        }
        &:hover{
          ul.menu-level-1{
            position: absolute;
            display: block;
            z-index: 999;
          }
        }
      }

      > li.menu-item:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        //width: 65px;
        border-left: 0;
        text-align: center;
        > a{
          display: block;
          width: 100%;
          //height: 22px;
          text-indent: -9999px;
          background: url(../images/header/home-ico-v2.png) no-repeat center center;
        }
        .field--type-entity-reference{
          margin: 0;
          img{
            margin: 0;
          }
        }
      }
      > li.menu-item:last-child{
        ul {
          margin-left: 0;
          li{
            ul{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}


.site-footer__first{
  .block{
    margin: 0;
    border: 0;
    padding: 0;
  }
  ul.menu-level-0 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    > li.menu-item{
      flex: 1 1 0px;
      border-right: 1px solid #FFF;
      margin-right: 20px;
      &:nth-child(1){
        display: none;
      }
      &:last-child{
        border-right: none;
      }
      > a{
        color: white;
        font-size: 0.8rem;
      }
      ul.menu-level-1{
        list-style: none;
        margin: 0;
        padding-left: 4px;
        padding-top: 4px;
        li{
          display: flex;
          align-items: baseline;
          padding-right: 10px;
          > a{
            color: white;
            font-size: 0.8rem;
          }
          > span{
            color: white;
            opacity: 0.6;
          }
          &:before{
            content: '- ';
            margin-right: 5px;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}
