#navbar{
  .navbar-expand-lg{
    margin: 0;
    padding: 0;
  }
  #block-hwc-theme-main-menu{
    width: 100%;
    ul.menu-level-0{
      background: $bg-color-blue;
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border: 0;
      border-radius: 0;
      margin-top: 0px;
      margin-bottom: 0;
      padding: 0.9rem 0;
      > li.menu-item{
        position: relative;
        width: 100%;
        text-align: center;
        border-left: 1px solid $bg-color-white;
        &.menu-item--active-trail{
          > a{
            color: #c1e000;
            font-weight: bold;
          }
        }
        > a{
          text-transform: uppercase;
          color: white;
          display: block;
          padding: 6px 1rem 6px 1rem;
          &:hover{
            text-decoration: none;
          }
        }
        ul.menu-level-1 {
          display: none;
          background: $bg-color-blue;
          list-style: none;
          width: 100%;
          left: 0;
          margin-left:0;
          margin-top: 0;
          box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
          border: none;
          text-transform: initial;
          padding: 6px 8px 6px 8px;
          border-radius: 0px;
          li{
            display: flex;
            align-items: baseline;
            a, span {
              font-size: 1.4rem;
              padding: 6px 0;
              color: white;
              text-align: left;
              width: 100%;
              &:hover{
                font-weight: bold;
                text-decoration: none;
              }
            }
            &.menu-item--active-trail{
              > a {
                font-weight: bold;
              }
            }
            &:before {
              content: '> ';
              margin-right: 5px;
              color: white;
              font-weight: bold;
            }
          }
        }
        &:hover{
          ul.menu-level-1{
            position: absolute;
            display: block;
            z-index: 999;
          }
        }
      }

      > li.menu-item:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        //width: 65px;
        border-left: 0;
        text-align: center;
        > a{
          display: block;
          width: 100%;
          //height: 22px;
          text-indent: -9999px;
          background: url(../images/header/home-ico-v2.png) no-repeat center center;
        }
        .field--type-entity-reference{
          margin: 0;
          img{
            margin: 0;
          }
        }
      }
      > li.menu-item:last-child{
        ul {
          margin-left: 0;
          li{
            ul{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}


.site-footer__first{
  .block{
    margin: 0;
    border: 0;
    padding: 0;
  }
  ul.menu-level-0 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    > li.menu-item{
      flex: 1 1 0px;
      border-right: 1px solid #FFF;
      margin-right: 2rem;
      &:nth-child(1){
        display: none;
      }
      &:last-child{
        border-right: none;
      }
      > a{
        color: white;
        font-size: 1.2rem;
      }
      ul.menu-level-1{
        list-style: none;
        margin: 0;
        padding-left: 4px;
        padding-top: 4px;
        li{
          display: flex;
          align-items: baseline;
          padding-right: 1rem;
          > a{
            color: white;
            font-size: 1.2rem;
          }
          > span{
            color: white;
            opacity: 0.6;
          }
          &:before{
            content: '- ';
            margin-right: 5px;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}


.sidebar-left{
  padding-left: 0;
  .menu-level-0{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 8px 0.8em 8px 0;
      margin-bottom: 0;
      width: 100%;
      border-radius:0;
      border-bottom: 1px solid #bcd75b;
     a {
       text-decoration: none;
       padding: 0 20px 0 0;
       &:hover{
         color: $text-hover-green;
         font-weight: bold;
       }
     }
      span{
        color: $text-color-grey-light;
      }
      &.menu-item--expanded{
        ul{
          display: none;
        }
      }
      &.menu-item--active-trail{
        > a {
          color: #003399;
          display: block;
          width: 100%;
          font-weight: bold;
        }
        &.menu-item--expanded{
          border-bottom: 0;
          ul{
            display: block;
          }
        }
      }
     .menu-level-1{
       list-style: none;
       li {
         border-bottom: 1px solid #bcd75b;
       }
     }
    }
    //> li{
    //  > a {
    //    padding: 10px 15px;
    //    display: block;
    //    margin-bottom: 15px;
    //    border-radius: 3px;
    //    text-decoration: none;
    //    cursor: pointer;
    //    color: #003399;
    //    font-weight: bold;
    //    background-color: transparent;
    //    border-radius: 12px;
    //    padding: 0.5em 0.5em;
    //    margin-bottom: 0.5em;
    //    padding-left: 1em;
    //    padding-right: 30px;
    //    position: relative;
    //    border: 1px solid #003399;
    //    &:after {
    //      content: "\e250";
    //      font-family: "Glyphicons Halflings";
    //      color: #003399;
    //      position: absolute;
    //      right: 8px;
    //      top: 40%;
    //    }
    //  }
    //  &.menu-item--active-trail{
    //    > a:after{
    //      content: "\e252";
    //      color: #bcd75b;
    //    }
    //  }
    //}
  }
}
