.related-resources-oshwiki{
  padding-bottom: 1em;
  width: 264px;
  .views-row{
    width: 100%;
  }
  .related-resources-boxes {
    padding: 0;
    margin: 0;
    list-style: none;
    .recommended-tool {
      margin-left: 0;
      margin-top: 1em;
      padding-left: 1em;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: right;
      background: transparent;
      color: #00309d;
      border: 2px solid #bcd75b;
      padding: 1em 1em;
      border-radius: 12px;
      display: flex;
      font-weight: 600;
      min-height: 78px;
      min-width: 200px;
      position: relative;
      img{
        width: 60px;
        height: auto;
      }
      span{
        //text-align: left;
      }
      &:hover{
        color: #FFF;
        background: #00309d;
        text-decoration: none;
        border: 2px solid #00309d;
        img {
          filter: brightness(0) invert(1);
          -webkit-filter: brightness(0) invert(1);
        }
      }
    }
  }
}
