.main-container{
  padding: 0;
}
.region-sidebar-left{
  padding-top:4.9rem;
}
.region-sidebar-right{
  padding-top: 1rem;
}
.main-container{
  margin: 0rem 0;
}
.path-media-centre .main-container {
  padding: 2.8rem 0 ;
}
.sidebar-first{
  padding-left: 0;
}
.section-center{
  padding-right: 0;
}

h2.node__title{
  color: $text-color-blue;
  font-style: normal;
  font-weight: 400;
  padding-top: 1.4rem;
  font-size: 3rem;
  clear: both;
}
.node{
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  ul{
    list-style: disc;
    padding-left: 4.2rem;
    li{
      a{
        background-color: transparent;
        color: $text-color-blue;
        font-weight: bold;
        font-style: normal;
      }
    }
  }
}

.region-sidebar-right,
.region-sidebar-left {
  h2{
    color: $text-color-blue;
    font-size: 1.8rem;
  }
}
.section-center {
  h2{
    color: $text-color-blue;
    font-weight: 400;
    padding-top: 0;
    margin-top: 0;
    font-size: 3rem;
  }
  .field--name-body{
    p, li{
      a{
        font-weight: bold;
      }
    }
  }
}
