{% extends "page.html.twig" %}
{% block content %}

  <section class="node-content">
    <div class="container">
      {{ page.content.hwc_theme_content }}
    </div>
  </section>

  <section class="available-cm gray-background">
    <div class="container">
      <div class="row">
        <section class="section cm-section">
          {{ page.content.views_block__view_campaign_materials_block_1 }}
        </section>
      </div>
    </div>
  </section>

{% endblock %}
