{% extends "page.html.twig" %}
{% block content %}

  <section class="node-content">
    <div class="container">
      {{ page.content.hwc_theme_content }}
      <div class="napo-films-card">
        <article class="card" >
          <img class="card-img-top" src="http://hwc.ddev.site/sites/hwc/files/styles/large/public/hwc/news/eu_diversity_month_220.jpg?itok=1qpRY-Om" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </article>
        <article class="card" >
          <img class="card-img-top" src="http://hwc.ddev.site/sites/hwc/files/styles/large/public/hwc/news/eu_diversity_month_220.jpg?itok=1qpRY-Om" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </article>
        <article class="card" >
          <img class="card-img-top" src="http://hwc.ddev.site/sites/hwc/files/styles/large/public/hwc/news/eu_diversity_month_220.jpg?itok=1qpRY-Om" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </article>
      </div>
    </div>
  </section>

{% endblock %}
