{% extends "page.html.twig" %}


{% block content %}

  <section class="tk-article-page">
    <div class="container-full">
      <div class="row">
        <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
          {{ page.sidebar_left.campaigntoolkit }}
        </aside>
        <section class="section col-12 col-lg-9 tk-article-content">
                <h2>{{ node.title.0.value }}</h2>
                {{ node.body.0.value|raw }}
                {{ page.content }}
        </section>
      </div>
    </div>
  </section>

{% endblock %}
