{% extends "page.html.twig" %}
{% block content %}

  <section class="node-content">
    <div class="container">
      {{ page.content.hwc_theme_content }}
      {{ page.content.views_block__napo_films_napo_films_cards }}
    </div>
  </section>

{% endblock %}
