{% extends "page.html.twig" %}


{% block content %}
  <section class="tk-article-page">
    <div class="container-full">
      <div class="row">
        <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">

        </aside>
        <section class="section col-12 col-lg-9 tk-article-content">
          {{ page.content }}
        </section>
      </div>
    </div>
  </section>

{% endblock %}
