{% extends "page.html.twig" %}


{% block content %}

  <section class="events-list-page">
    <div class="container">
      <div class="row">
        <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
          {{ page.sidebar_left.exposedformevents_searchpage_1 }}
          {{ page.sidebar_left.newsletter }}
        </aside>
        <section class="section section-center col-12 col-lg-9 events-list">
          {{ page.sidebar_left.exposedformevents_searchpage_1 }}
          {{ page.content.hwc_theme_content }}
        </section>
      </div>
    </div>
  </section>

{% endblock %}
