{% extends "page.html.twig" %}
{% block content %}

  <section class="node-content">
    <div class="container">
      {{ page.content.hwc_theme_content }}
    </div>
  </section>
{% if page.content.views_block__publications_slideshow_publications_slideshow %}
  <section class="latest-publications green-background">
    <div class="container">
      {{ page.content.views_block__publications_slideshow_publications_slideshow }}
    </div>
  </section>
{% endif %}
  <section class="available-publication gray-background">
    <div class="container">
      <div class="row">
        {% if page.sidebar_left %}
        <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
          {{ page.sidebar_left }}
        </aside>
        {% endif %}
        <section class="section section-center col-12 col-lg-9 ">
          {{ page.content.views_block__publications_list_block_1 }}
        </section>
      </div>
    </div>
  </section>

{% endblock %}
