
@mixin h2 {
  h2 {
    font-style: normal;
    color: #749b00;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 2em;
    text-align: left;
    margin-top: 10px;
    &.p2{
      font-size: 1.3em;
      font-weight: 600;
      color: #003399;
      margin:25px 0 20px;
      font-style: normal;
    }
  }
}

/* menu campaign toolkit */
#block-campaigntoolkit{
  padding-left: 15px;
  padding-right: 15px;
  ul{
    list-style: none;
  }
  ul.menu{
    flex-direction: column;
    padding: 0;
    > li{
      > span,
      > a{
        position: relative;
        border: 2px solid;
        padding: 10px 35px 10px 15px;
        display: block;
        margin-bottom: 15px;
        border-radius: 3px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        &:after {
          position: absolute;
          top: 25%;
          right: 15px;
          content: "\e250";
          font-family: "Glyphicons Halflings";
          float: right;
          vertical-align: middle;
        }
        &.up-arrow{
          &:after {
            content: "\e252" !important;
            font-family: "Glyphicons Halflings";
            float: right;
            vertical-align: middle;
          }
        }
      }
      &:nth-child(1) a {
        border-color: #10a748;
        color: #10a748;
        &.active{
          background-color: #10a748;
          color: white;
        }
      }
      &:nth-child(2) span {
        border-color: #98c93c;
        color: #98c93c;
        &.active{
          background-color: #98c93c;
          color: white;
        }
      }
      &:nth-child(3) span {
        border-color: #213097;
        color: #213097;
        &.active{
          background-color: #213097;
          color: white;
        }
      }
      &:nth-child(4) a {
        border-color: #10aaaa;
        color: #10aaaa;
        &.active{
          background-color: #10aaaa;
          color: white;
        }
      }
      ul.submenu-1{
        padding: 0 0 0 15px;
        display: none;
        > li {
          > a {
            text-decoration: none;
            color: #333333;
            margin-bottom: 10px;
            padding: 0;
            display: block;
            &:after {
              content: "\e250";
              font-family: "Glyphicons Halflings";
              position: relative;
              top: 3px;
              left: 7px;
            }
            &.active{
              font-weight: bold;
            }
          }
          &.expanded{
            > a{
              &:after {
                content: "\e252";
                font-family: "Glyphicons Halflings";
                vertical-align: middle;
                top: 0;
              }
            }
          }
        }
      }
      ul.submenu-2{
        padding: 0 0 0 30px;
        > li {
          padding: 0;
          > a {
            text-decoration: none;
            color: #333333;
            margin-bottom: 10px;
            padding: 0;
            display: block;
            &.active{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
/* toolkit page styles */
.toolkit-page,
.node--type-tk-article{
  @include h2;
  .well{
    background-color: inherit;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: inherit;
  }
  #block-hwc-toolkit-toolkit-left-menu{
    padding-left: 15px;
    padding-right: 15px;
  }
  .align-right{
    text-align: right;
    margin-top: 25px;
  }
}



/* presentation styles */
.start-here{
  margin-top: 10px;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  > .col {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: flex;
    > .col-inner {
      background-color: #f3f3f3;
      text-align: center;
      padding: 30px 15px 15px;
      position: relative;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      h2 {
        font-weight: 600;
        color: #003399;
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0px;
        &:before {
          content: "";
          display: block;
          width: 74px;
          height: 74px;
          background-color: #003399;
          margin: 0 auto;
          margin-bottom: 20px;
          border-radius: 50%;
          color: white;
          line-height: 5;
        }
      }
      > a{
        margin-top: auto;
        .see-more {
          background-color: #749b00;
          display: inline-block;
          text-align: center;
          padding: 10px 15px;
          text-transform: uppercase;
          color: white;
          font-weight: 600;
          text-decoration: none;
          &:hover{
            background-color: #595959;
          }
        }
      }
    }
    &.campaigning{
      h2:before{
        background-image: url(../images/toolkit-campaigning.png);
      }
    }
    &.plane-campaign{
      h2:before{
        background-image: url(../images/toolkit-plan.png)
      }
    }
    &.resources-networks{
      h2:before{
        background-image: url(../images/toolkit-resources.png);
      }
    }
  }
}

/* carousel styles */
.tool-examples-carousel{
  background-color: #f3f3f3;
  padding: 44px 60px;
  margin:20px 0 80px;
  position: relative;
  #carouselControls{
    margin: 0;
    max-width: 100%;
    padding: 0;
    min-height: 260px;
    .carousel-control ,
    .carousel-control-prev,
    .carousel-control-next{
      background-image: inherit;
      width: 5%;
      text-shadow: inherit;
      color: #003399;
      opacity: 1;
      .carousel-control-prev-icon{
        background: #003399;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
      }
      .carousel-control-next-icon{
        background: #003399;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
      }
    }
    .carousel-control-prev{
      left: -5%;
      .carousel-control-prev-icon{
        -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
        mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
      }
    }
    .carousel-control-next{
      right: -5%;
      .carousel-control-next-icon{
        -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
        mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
      }
    }
    .carousel-indicators {
      bottom: -75px;
      margin-bottom: 0px;
      li {
        border: 1px solid #7b7b7b;
        border-radius: 60px;
        margin: 0px;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        &.active {
          background-color: #7b7b7b;
          border: none;
        }
      }
    }
  }
  #carousel{
    padding: 0em;
    margin: 0;
    min-height: 260px;
    .campaign-toolkit-item{
      display: flex;
      .group-left{
        margin-bottom: 0px;
        margin-right: 30px;
        width: 25%;
      }
      .group-right{
        width: 75%;
        h2{
          font-size: 18px;
          font-weight: 600;
          color: $text-color-blue;
          margin: 0px;
          padding-bottom: 25px;
          display: block;
        }
        label{
          font-weight: bold;
          margin-bottom: 0;
        }
        .see-more{
          background-color: #749b00;
          display: inline-block;
          text-align: center;
          padding: 10px 15px;
          text-transform: uppercase;
          color: white;
          font-weight: 600;
          text-decoration: none;
          &:hover{
            background-color: #595959;
          }
        }
      }
    }
  }
}

/** node tk-article **/
.tk-article-node{
  display: flex;
  margin-bottom: 30px;
  background-color: #f3f3f3;
  position: relative;
  .group-left{

  }
  .group-right{
    padding: 0 1em;
    display:flex;
    flex-direction: column;
    flex: 1 1 0;
    h2{
      width: 75%;
      margin-bottom: 30px;
      a{
        font-size: 20px;
      }
    }
    .summary{
      width: 75%;
    }
    .link{
      margin-top: auto;
      margin-left: auto;
      .see-more {
        background-color: #749b00;
        display: inline-block;
        text-align: center;
        padding: 10px 15px;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        text-decoration: none;
        &:hover{
          background-color: #595959;
        }
      }
    }
  }
}

/** node tk-topic-node **/
.tk-topic-node{
  @include h2;
  display: flex;
  .col-left{
    flex: 0 0 70%;
    padding: 0 15px 0 0;
    ul{
      margin: 0px;
      padding-left: 15px;
      li{
        margin-bottom: 15px;
      }
    }
    .box-check-content{
      background-color: #f3f3f3;
      padding: 15px 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      h2,
      h3{
        border-bottom: 2px solid #749b00;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 1.4em;
        margin-bottom: 30px;
        color: #749b00;
        margin-top: 15px;
      }
      ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        column-count: 2;
        li{
          margin-bottom: 0px;
          padding: 2px 0 0;
          &:before {
            content: "\e013";
            font-family: "Glyphicons Halflings";
            text-align: center;
            line-height: 25px;
            width: 25px;
            height: 25px;
            background-color: #749b00;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            color: white;
            margin-right: 6px;
            font-size: 1rem;
            position: relative;
            top: -2px;
          }
          p{
            display: inline-block;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .col-right{
    flex: 0 0 30%;
    padding: 0 0 0 15px;
    img{
      width: 100%;
    }
  }
}



//
//
//.tk-example-node{
//  .tk-example-content{
//    display: flex;
//    .group-left{
//      width: 70%;
//      h2.toolkit-h2 {
//        font-style: normal;
//        color: #749b00;
//        font-weight: 600;
//        margin-bottom: 15px;
//        font-size: 2em;
//        text-align: left;
//        margin-top: 10px;
//      }
//      .org{
//        strong{
//
//        }
//      }
//      .country{
//        strong{
//
//        }
//      }
//      .description{
//        .label{
//          margin-bottom: 5px;
//        }
//      }
//      .show-links{
//        margin-bottom: 20px;
//        .label{
//          margin: 0;
//          a{
//            display: block;
//            background-color: #749b00;
//            color: white;
//            padding: 6px 12px;
//            font-size: 1em;
//            font-weight: bold;
//            cursor: pointer;
//            &:hover{
//              background-color: #595959;
//            }
//          }
//        }
//        .links-list{
//          border: 1px solid #595959;
//          border-top: none;
//          ul{
//            list-style: none;
//            margin: 0;
//            background-color: #f3f3f3;
//            padding: 15px 12px 5px;
//            li{
//              margin-bottom: 0.8rem;
//            }
//          }
//        }
//      }
//    }
//    .group-right{
//      width: 30%;
//    }
//  }
//}
//



