
#block-views-block-view-campaign-materials-block-1{
  background: #efefef;
  .view-header{
    h2{
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.875rem;
      color: $text-color-blue;
        span{
          font-size:1.25rem;
        }
    }
  }
  .view-content.row{
    margin: 0;
  }
}

.cm-items-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  padding: 1rem;
  background: #FFF;
  border-radius: 10px;
  position: relative;
  border-bottom: 0;
  &:after {
    content: ' ';
    background: url(../images/green-line.png) repeat-x;
    width: 90%;
    clear: both;
    display: block;
    padding-top: 1em;
    position: absolute;
    bottom: -36px;
    left: 5%;
  }
  .group-left {
    padding: 0;
    min-width: 155px;
    margin-right: 1.5rem;
    .field--type-image {
      padding-right: 0;
      border-radius: 7px;
      //min-height: 220px;
      width: 100%;
      margin-right: 1.8rem;
      img{
        width: 100%;
        margin: 0;
      }
    }
  }
  .group-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .metadata{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > span{
        color: #57575a;
      }
      .date {

      }
      .type {
        color: $text-color-blue;
        label{
          font-weight: bold;
        }
      }
      .num-pages{
        font-weight: bold;
        color: $text-color-blue;
        padding-right: 4rem;
      }
    }
    .title-list {
      display: block;
      margin-top: 0.5rem;
      padding-bottom: 0.3rem;
      line-height: 1.6rem;

      a {
        color: $text-color-blue;
        font-style: normal;
        font-size: 1.4rem;
      }
    }
    .link-more{
      margin-top: auto;
      margin-bottom: 0.3rem;
    }
  }
}
