.node--type-events{
  .node__content{
    display: flex;
    flex-direction: row;
    .content-left-column{
      width: 75%;
      margin-right: 1rem;
      .futher-info{
        h3{
          border-top: 0;
          color: $text-color-blue;
          font-size: 1.8rem;
          font-weight: 400;
          padding-top: 1em;
          padding-bottom: 0.2em;
        }
        label{
          font-weight: bold;
        }
      }
    }
    .content-right-column{
      width: 25%;
      .field__image{
        display: flex;
        justify-content: center;
        padding: 3rem 0;
      }
      .field__date{
        width: 100%;
        border-top: 3px solid #B0B1B2;
        padding-top: 7rem;
        padding-bottom: 2rem;
        background: url(../images/content/calendar-event-detail.png) no-repeat center 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .date-start-end{
          text-align: center;
          color: $text-color-blue;
          font-size: 1.4rem!important;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0.8rem;
        }
      }
      .field__country{
        display: block;
        position: relative;
        float: none;
        clear: both;
        width: 100%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
        background: url(../images/content/location-event-detail.png) no-repeat center 25px;
        border-top: 3px solid #B0B1B2;
        .country-city{
          text-align: center;
          color: $text-color-blue;
          font-size: 1.4rem!important;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          align-items: center;
          .country{
            color: #59595A;
          }
        }
      }
      #share-this-on {
        justify-content: center;
      }
    }
  }
}

.events-list-page{
  .sidebar-first{
    .form-item-field-country-code,
    .form-item-search-api-views-fulltext,
    .form-item-field-start-date-1,
    .form-actions {
      display: none !important;
    }
  }
  .events-list{
    .view-content.row{
      margin: 1rem;
      display: flex;
      flex-direction: column;
    }
    .form-item-field-start-date,
    .form-item-end-value {
      display: none !important;
    }
  }
}

.events-list-page{
  .container{
    max-width: 100%;
  }
  .sidebar-first {
    #block-exposedformevents-searchpage-1 > h2{
      display: block;
      width: 100%;
      color: #003399;
      font-size: 2.2rem;
      padding-bottom: 0.7rem;
    }
    #block-exposedformevents-searchpage-1{
      border: 1px solid #B0B1B2;
      border-radius: 7px;
      padding: 1rem;
      margin-top: 2.8rem;
      margin-bottom: 3rem;
      margin-left: auto;
      width: 288px;
      .form-row{
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        fieldset{
          label{
            font-size: 1.4rem;
            font-weight: normal;
          }
          input{
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
            height: 100%;
            border-radius: 5px !important;
            padding: 0.4rem;
            color: $text-color-blue;
            border: 1px solid $text-color-blue;
            cursor: pointer;

            &::-webkit-datetime-edit{
              max-width: 83%;
            }
            &::-webkit-calendar-picker-indicator {
              background-image: url(../images/green-calendar.png) !important;
              background-repeat: no-repeat;
              background-position: 94% center;
              margin: 0;
              padding: 0;
            }
            &::-webkit-datetime-edit-fields-wrapper{
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    #block-newsletter{
      background: url(../images/background-newsletter-event.png) no-repeat;
      border-radius: 1rem;
      color: #FFF;
      padding: 1.4rem;
      margin-left: auto;
      width: 288px;
      h2{
        @include subtitle-section('','ico-newsletter.png',transparent,#FFF,3rem);
        margin-bottom: 1rem;
      }
      > p {
        padding: 0 1rem;
      }
    }
  }
  .events-list{
    #block-exposedformevents-searchpage-1--2{
      width: 60%;
      .form-item-search-api-views-fulltext{
        > input {
          height: 34px;
          border: 1px solid #B0B2B3;
          border-radius: 5px !important;
          background: url(../images/green-search.png) no-repeat 96% 55% #ffffff;
          width: 100% !important;
          float: left;
          margin-top: 25px;
          padding-left: 10px;
          color: #003399;
        }
      }
      .form-row{
        flex-wrap: nowrap;
        label {
          color: $text-color-blue;
          font-size: 1.4rem;
          font-weight: normal;
          padding-bottom: 0.1rem;
        }
      }
      > h2 {
        display: none;
      }
      .form-actions{
        display: flex;
        .btn-primary{
          margin-right: 5px;
        }
      }
    }
    .event-items-list{
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #749b00;
      padding: 2rem 1rem 3rem 1rem;
      min-height: 220px;
      .group-left{
        min-width: 180px;
      }
      .group-right{
        display: flex;
        flex-direction: column;
        h2{
          a{
            color: $text-color-blue;
            font-size: 2.2rem;
          }
        }
        .date-start-end{
          font-weight: 600;
        }
        .country-city{
          font-weight: 600;
        }
        .events-buttons{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: auto;
          margin-bottom: 5px;
          width: 50%;
          .button{
            margin: auto 0 0;
          }
        }
      }
    }
  }
}



/*
.page-past-events, .page-events{
  h1.page-header{
    border-bottom: none;
    margin-bottom:0;
  }

  .region-content{
    #block-system-main{
      .view-events-search .view-content .views-row{
        padding-top: 20px;
        padding-bottom: 30px;
        min-height: 230px;
        border-bottom: 1px dotted @color3;
        .views-field-field-start-date{
          .field-content{
            //background-color: @color3;
            float: left;
            width: 180px;
            height: 180px;
            margin-right: 50px;
            overflow: hidden;
            margin-top: 5px;
            .date-display-single{
              display: block;
            }
            .event_country{
              width: 180px;
              height: 180px;
            }
            .code_EN{
              background: url(../images/events/big/England-180x180.png) no-repeat center;
            }
            .code_AT{
              background: url(../images/events/big/Austria-180x180.png) no-repeat center;
            }
            .code_CH{
              background: url(../images/events/big/Switzerland-180x180.png) no-repeat center;
            }
            .code_BG{
              background: url(../images/events/big/Bulgaria-180x180.png) no-repeat center;
            }
            .code_BE{
              background: url(../images/events/big/Belgium-180x180.png) no-repeat center;
            }
            .code_CZ{
              background: url(../images/events/big/Czech-Republic-180x180.png) no-repeat center;
            }
            .code_CS{
              background: url(../images/events/big/Czech-Republic-180x180.png) no-repeat center;
            }
            .code_DK{
              background: url(../images/events/big/Denmark-180x180.png) no-repeat center;
            }
            .code_DE{
              background: url(../images/events/big/Germany-180x180.png) no-repeat center;
            }
            .code_EL{
              background: url(../images/events/big/Greece-180x180.png) no-repeat center;
            }
            .code_ES{
              background: url(../images/events/big/Spain-180x180.png) no-repeat center;
            }
            .code_EU{
              background: url(../images/events/big/European-Union-180x180.png) no-repeat center;
            }
            .code_EE{
              background: url(../images/events/big/Estonia-180x180.png) no-repeat center;
            }
            .code_FI{
              background: url(../images/events/big/Finland-180x180.png) no-repeat center;
            }
            .code_HR{
              background: url(../images/events/big/Croatia-180x180.png) no-repeat center;
            }
            .code_FR{
              background: url(../images/events/big/France-180x180.png) no-repeat center;
            }
            .code_HU{
              background: url(../images/events/big/Hungary-180x180.png) no-repeat center;
            }
            .code_IS{
              background: url(../images/events/big/Iceland-180x180.png) no-repeat center;
            }
            .code_IT{
              background: url(../images/events/big/Italy-180x180.png) no-repeat center;
            }
            .code_LV{
              background: url(../images/events/big/Latvia-180x180.png) no-repeat center;
            }
            .code_LT{
              background: url(../images/events/big/Lithuania-180x180.png) no-repeat center;
            }
            .code_LU{
              background: url(../images/events/big/Luxembourg-180x180.png) no-repeat center;
            }
            .code_LI{
              background: url(../images/events/big/Liechtenstein-180x180.png) no-repeat center;
            }
            .code_NL{
              background: url(../images/events/big/Netherlands-180x180.png) no-repeat center;
            }
            .code_MT{
              background: url(../images/events/big/Malta-180x180.png) no-repeat center;
            }
            .code_NO{
              background: url(../images/events/big/Norway-180x180.png) no-repeat center;
            }
            .code_PL{
              background: url(../images/events/big/Poland-180x180.png) no-repeat center;
            }
            .code_PT{
              background: url(../images/events/big/Portugal-180x180.png) no-repeat center;
            }
            .code_RO{
              background: url(../images/events/big/Romania-180x180.png) no-repeat center;
            }
            .code_SK{
              background: url(../images/events/big/Slovakia-180x180.png) no-repeat center;
            }
            .code_SI{
              background: url(../images/events/big/Slovenia-180x180.png) no-repeat center;
            }
            .code_SE{
              background: url(../images/events/big/Sweden-180x180.png) no-repeat center;
            }
            .code_IE{
              background: url(../images/events/big/Ireland-180x180.png) no-repeat center;
            }
            .code_UK{
              background: url(../images/events/big/United-Kingdom-180x180.png) no-repeat center;
            }
            .code_CN{
              background: url(../images/events/big/China-180x180.png) no-repeat center;
            }
            .code_CY{
              background: url(../images/events/big/Republic-of-Cyprus-180x180.png) no-repeat center;
            }
            .code_US{
              background: url(../images/events/big/eeuu-180x180.png) no-repeat center;
            }
          }
        }
        .views-field-title-field{
          a{
            display: block;
            font-size: 1.7em;
            margin-bottom: 10px;
          }
        }

        .views-field-view-node{
          position: absolute;
          margin-left: 230px;
        }
        .views-field-field-website-of-event{
          float: none;
        }

        .views-field-field-start-date-1{
          font-size: 1.4rem;
          margin-bottom: 0.5em;
          font-weight: 600;
          color: #57575a;
        }
        .views-field-field-country-code, .views-field-field-city{
          font-weight: 600;
          display: inline-block;
          color: #57575a;
        }
        .views-field-field-country-code{
          span:after{
            content:",";
          }
        }
        .views-field-body{
          margin-top: 1em;
          margin-bottom: 1em;
          display: flex;
        }
      }
    }
  }
  form{
    .views-exposed-form .views-exposed-widget{
      padding-right: 0;
      button.form-submit {
        margin-top: 0em;
        background: @bg-color-2 url("../images/content/search.png") no-repeat center;
        height: 34px;
        width: 30px;
        color: @color0;
        &:focus{
          outline: 0;
        }
      }
      button#edit-reset {
        &:before {
          content: "";
        }
        background: none;
        color: #003399;
        font-weight: bold;
        text-indent: -999999px;
      }
    }
  }
}
*/
