/* Glossary */
.glossary-list-view{
  .glossary-letters{
    clear: both;
    width: 100%;
    border-top: 2px solid #bcd75b;
    border-bottom: 2px solid #bcd75b;
    padding: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 2.8rem;
    span{
      display: block;
      float: left;
      padding-right: 1.4rem;
      a{
        font-weight: 700;
      }
    }
  }
  .view-content{
    .item-list{
      width: 100%;
      h3{
        color: #003399;
        font-size: 2rem;
        font-weight: 900;

        &:after{
          content: "";
          display: block;
          margin-top: -9px;
          margin-bottom: 1.6rem;
          border: 0;
          border-top: 1px solid #a7a6a6;
          margin-left: 3rem;
        }
      }
      h2{
        color: #003399;
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
        a{

        }
      }
    }
  }

  .content-term{
    .glossary_letter{
      color: #003399;
      font-size: 2.8rem;
      font-weight: 900;
      hr {
        margin-top: -9px;
        margin-bottom: 1.6rem;
        border: 0;
        border-top: 1px solid #a7a6a6;
        margin-left: 3rem;
      }
    }
    .term-title{
      color: #003399;
    }
    .term-description{
      padding-bottom: 1.4rem;
    }
  }
}
