.field--name-body{
  h2{
    color: $text-color-blue;
  }
}
.title-napo-film{
  color: $text-color-blue;
}

.napo-films-view{
  display: flex;
  flex-wrap: nowrap;
  .card{
    width: 32%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2% 2% 2% 0;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 6px 0px rgba(204,204,204,1);
    .card-img-top{
      height: 207px;
      position: relative;
      .cover{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        a{
          display: block;
          background: transparent;
          width: 100%;
          height: 100%;
        }
      }
      img{
        width: 100%;
        height: 207px;
      }
      .media-oembed-content{
        width: 100%;
        height: 207px;
      }
    }
    h3{
      font-size: 1rem;
      font-weight: 700;
    }
    .card-body {
      padding: 1rem 1.25rem 1.25rem;
    }
  }
}

.share-networks{
  position: relative;
  display: flex;
  justify-content: flex-end;
  .napo-actions{
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    display: flex;
    li{
      margin-left: 0.8rem;
      position: relative;
      &:nth-child(1){
        margin-left: 0;
      }
      &:before{
        content: '';
        background: #adadad;
        display: block;
        cursor: pointer;
        height: 20px;
        width: 20px;
      }
      &.share-link{
        &:before{
          -webkit-mask-image: url(../images/svg_icons/solid/share-variant.svg);
          -webkit-mask-repeat: no-repeat;
          mask-image: url(../images/svg_icons/solid/share-variant.svg);
          mask-repeat: no-repeat;
        }
      }
      &.download-film{
        &:before{
          -webkit-mask-image: url(../images/svg_icons/solid/download.svg);
          -webkit-mask-repeat: no-repeat;
          mask-image: url(../images/svg_icons/solid/download.svg);
          mask-repeat: no-repeat;
        }
        a{
          display: block;
          height: 100%;
          top: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
  .list-networks{
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 0px 12px;
    border-radius: 90px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1.4rem;
    right: 23px;
    padding: 7px 11px;
    li {
      padding: 0.3rem 0;
      a {
        span {
          display: none;
        }
        &:before {
          content: '';
          color: #adadad;
          display: block;
          height: 20px;
          width: 20px;
          background: #adadad;
          -webkit-mask-position: center;
          mask-position: center;
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
        }
        &:hover{
          &:before{
            background: #666;
          }
        }
      }
      &.close-share{
        padding-bottom: 0.8rem;
        &:before{
          content: '';
          display: block;
          height: 20px;
          width: 20px;
          background: #adadad;
          -webkit-mask-image: url(../images/svg_icons/solid/times.svg);
          -webkit-mask-repeat: no-repeat;
          mask-image: url(../images/svg_icons/solid/times.svg);
          mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-position: center;
        }
      }
      &.fb{
        a:before{
          //content: '\f09a';
          -webkit-mask-image: url(../images/svg_icons/brands/facebook-f.svg);
          mask-image: url(../images/svg_icons/brands/facebook-f.svg);

        }
      }
      &.tw{
        a:before{
          //content:'\f099';
          -webkit-mask-image: url(../images/svg_icons/brands/twitter.svg);
          mask-image: url(../images/svg_icons/brands/twitter.svg);
        }
      }
      &.ln{
        a:before{
          //content:'\f0e1';
          -webkit-mask-image: url(../images/svg_icons/brands/linkedin-in.svg);
          mask-image: url(../images/svg_icons/brands/linkedin-in.svg);
        }
      }
      &.copy{
        a:before{
          //content:'\f0e1';
          -webkit-mask-image: url(../images/svg_icons/solid/content-copy.svg);
          mask-image: url(../images/svg_icons/solid/content-copy.svg);
        }
      }
    }
  }
}

