.node--type-news{
  .node__date{
    padding-top: 0.3rem;
    margin-bottom: 0;
    font-weight: 600;
    color: #57575a;
  }
  h2.node__title{
    color: $text-color-blue;
    font-style: normal;
    font-weight: 400;
    padding-top: 0;
    clear: both;
  }
  .node__summary{
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #57575a;
  }
  .field--name-field-caption-copyrigth-{
    position: relative;
    top: -0.5rem;
    p{
      margin: 0;
      padding: 0;
      color: #000;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }
  .node__content{
    display: flex;
    flex-direction: row;
    .content-left-column{
      margin-right: 1rem;
      min-width: 222px;
    }
    .content-right-column{

    }
  }
}


.view-osh-news{
  .view-content {
    display: flex;
    flex-direction: column;
  }
  .news-items-list{
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    padding: 1em;
    background: #FFF;
    border-radius: 10px;
    position: relative;
    border-bottom: 0;
    &:after {
      content: ' ';
      background: url(../images/green-line.png) repeat-x;
      width: 90%;
      clear: both;
      display: block;
      padding-top: 1em;
      position: absolute;
      bottom: -36px;
      left: 5%;
    }
    .group-left {
      .field--type-image {
        border: 2px solid #bcd75b;
        float: left;
        padding-right: 0;
        margin-right: 20px;
        margin-top: 13px;
        border-radius: 7px;
        height: 114px;
        width: 114px;
        overflow: hidden;
      }
    }

    .group-right {
      .date{
        color: #57575a;
        font-size: 0.8rem !important;
      }
      .title-list{
        display: block;
        font-size: 1.25rem;
        margin-top: 0.5rem;
        padding-bottom: 0.3rem;
        a{
          color:$text-color-blue;
        }
      }
    }
  }
}
