.private-zone-full-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem 0;
  @media (max-width: 990px) {
    flex-wrap: wrap;
  }
  .private-box{
    min-height: 130px;
    position: relative;
    min-width:260px;
    width:260px;
    display: flex;
    text-align: right;
    background: transparent;
    color: #00309d;
    border: 2px solid #bcd75b;
    padding: 20px 16px !important;
    margin: 10px 20px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    @media (max-width: 990px) {
      width: 80%;
      min-width: 80%;
    }
    @media (max-width:660px) {
      width: 100%;
      min-width: 100%;
    }
    > a{
      min-height: 100%;
      width: 100%;
      font-weight: bold;
      color: #003399;
      font-size: 1em;
      padding: 0 0 0 87px !important;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &:hover{
      color: #FFF;
      background: #00309d;
      text-decoration: none;
      border: 2px solid #00309d;
      > a{
        color: #FFF;
        text-decoration: none;
      }
    }
  }
  .private-partner-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 260px;
    width:260px;
    margin: 10px 20px;
    @media (max-width: 990px) {
      width: 80%;
      min-width: 80%;
    }
    @media (max-width:660px) {
      width: 100%;
      min-width: 100%;
    }
    .private-box{
      margin: 0;
      @media (max-width: 990px) {
        width: 100%;
        min-width: 100%;
      }
    }
    .private-zone-act-partner-inside{
      padding: 10px 10px !important;
      margin: 20px 0 0;
      text-align: center;
    }
  }
  .private-zone-act-partner{
    >a{
      background: url(../images/pz-news.png) 0 50% no-repeat;
    }
    &:hover{
      > a {
        background: url(../images/mpp-create-news-hover.png) 0 50% no-repeat;
      }
    }
  }
  .private-zone-exchange-platform{
    > a {
      background: url(../images/pz-good-practice.png) 0 50% no-repeat;
    }
    &:hover{
      > a {
        background: url(../images/mpp-good-practice-hover.png) 0 50% no-repeat;
      }
    }
  }
  .private-zone-partner-resource{
    > a{
      background: url(../images/pz-partner-resource.png) 0 50% no-repeat;
    }
    &:hover{
      > a {
        background: url(../images/mpp-partner-resources-hover.png) 0 50% no-repeat;
      }
    }
  }
}
