


.node-content{
  padding: 1rem 1rem 0;
}

.available-publication{
  padding: 2rem 1rem 1rem;
}

.sidebar-first .block-facets {
  padding: 0.8rem 0.8rem 0.4rem;
  border: 1px solid #B0B2B3;
  border-radius: 5px;
  margin-top: 2rem;
  width: 100%;
  background: #FFF;
  h2{
    font-size: 1.125rem;
    color: #003399 !important;
    padding-right: 1.25px;
    &:hover{
      cursor: pointer;
    }
    &:after{
      color: #c1e000;
      padding-top: 2px;
      content: "\e250";
      font-family: "Glyphicons Halflings";
      margin-left: 0px;
      float: right;
      margin-right: 0px;
    }
    &.area-shown{
      &:after{
        content: "\e252";
      }
    }
  }
  ul{
    list-style: none;
    padding: 0.5rem 0 0;
    li{
      label{
        padding-left: 0.5rem;
      }
    }
  }
}


.view-publications-list {
  display: flex;
  flex-direction: column;
  .view-filters{
    order: 1;
    #edit-reset{
      background: transparent;
      outline: 0;
      border: 0;
      color: #003399;
    }
  }
  .view-header{
    order: 2;
    h2{
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.875rem;
      color: $text-color-blue;
      span{
        font-size:1.25rem;
      }
    }
  }
  .view-empty{
    order: 3;
    text-align: center;
    padding: 1rem 0 3rem 0;
  }
  .view-content {
    order: 3;
    display: flex;
    flex-direction: column;
    .publications-row {
      .publications-items-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;
        padding: 1em;
        background: #FFF;
        border-radius: 10px;
        position: relative;
        border-bottom: 0;
        &:after {
          content: ' ';
          background: url(../images/green-line.png) repeat-x;
          width: 90%;
          clear: both;
          display: block;
          padding-top: 1em;
          position: absolute;
          bottom: -36px;
          left: 5%;
        }
        .group-left {
          padding: 0;
          min-width: 155px;
          margin-right: 1.5rem;
          .field--type-image {
            padding-right: 0;
            border-radius: 7px;
            //min-height: 220px;
            width: 100%;
            margin-right: 1.8rem;
            img{
              margin: 0 0 1rem;
            }
          }
        }
        .group-right {
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          .metadata{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > span{
              color: #57575a;
            }
            .date {

            }
            .type {
              color: $text-color-blue;
              label{
                font-weight: bold;
              }
            }
            .num-pages{
              font-weight: bold;
              color: $text-color-blue;
              padding-right: 4rem;
            }
          }
          .title-list {
            display: block;
            margin-top: 0.5rem;
            padding-bottom: 0.3rem;
            line-height: 1.6rem;

            a {
              color: $text-color-blue;
              font-style: normal;
              font-size: 1.4rem;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
  nav[aria-label=pagination-heading]{
    order: 4;
  }
}

/* Latest Publications */

.wrapper-responsive-box{
  margin-top: 1.5em;
}
.latest-publications{
  padding: 1.5rem 0rem 1rem;
  #block-views-block-publications-slideshow-publications-slideshow{
    > h2{
      color: $text-color-blue;
      font-size: 1.875rem;
    }
  }
  .view-content{
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .box-latest-publications{
    background: #FFF;
    width: 32.2%;
    min-height: 250px;
    display: flex;
    position: relative;
    margin-bottom: 1em;
    margin-right: 2%;
    border-radius: 10px;
    .left-column{
      padding: 0.8rem 0rem 0.8rem 0.8rem;
      width: 50%;
      img{
        /*
        width: 146px;
        height: auto;
        */
      }
    }
    .right-column{
      width: 200px;
      display: flex;
      flex-direction: column;
      padding: 0.8rem;
      .metadata{
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 0.8rem;
        .publication-date{
          color:#58595f;
        }
        .pages{
          color:#58595f;
        }
      }
      h2 a{
        display: block;
        padding: 3px 0;
        color:#003399;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        text-decoration: none;
        font-style: normal;
        word-break: break-all;
        &:hover{
          text-decoration: underline;
        }
      }
      p:last-child{
        margin: auto 0 1.1rem;
        a.see-more-arrow{
          display: block;
          clear: both;
          bottom: 0;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .box-latest-publications.views-row-last{
    margin-right: 0;
  }

}


/* publication detail */
.publication-detail{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  .publications-row{
    border-bottom: 0;
    margin-top: 2em;
    padding: 0 2em 0 0;
    display: flex;
    flex-direction: row;
    .publications-left-column{
      float: none;
      margin-right: 2rem;
      .field--type-image {
        img {
          max-width: fit-content;
          margin: 0 1rem 1rem 0;
        }
      }
    }
    .publications-detail-right-column{
      width: 100%;
      .metadata{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > span{
          color: #57575a;
        }
        .date {

        }
        .type {
          color: $text-color-blue;
          label{
            font-weight: bold;
          }
        }
        .num-pages{
          font-weight: bold;
          color: $text-color-blue;
          padding-right: 4rem;
        }
      }
      .field-pdf-item{
        display: flex;
        flex-wrap: wrap;
        span, img{
          margin-right: 3px;
          height: 20px;
        }
        a{
          font-weight: bold;
          color: $text-color-blue;
          &:before{
            content: " ";
            background: url(../images/content/download.png) no-repeat center;
            padding: 2px 15px;
          }
        }
      }
    }
  }
}

/* related resources */
.related-resources{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  h2.title-section {
    padding:1.4rem 0 0;
    font-weight: 600;
    font-size: 1.4rem;
    color: $text-color-blue;
    margin-bottom: 0;
    line-height: 2rem;
  }
  h3.subtitle-section{
    background: url(../images/grey-h3-line.png) 0 60% repeat-x;
    color: #5a5a5b;
    margin: 1.5rem 0 0.5rem 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    span{
      background: #daea96;
      padding-right: 1rem;
    }
  }
  .related-resources-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding: 0;
    background: white;
    position: relative;
    border-bottom: 0;
    .group-left {
      padding: 0;
      min-width: 155px;
      margin-right: 1.5rem;
      .field--type-image {
        padding-right: 0;
        border-radius: 7px;
        width: 100%;
        margin-right: 1.8rem;
        img{
          width: 100%;
          margin: 0;
        }
      }
    }
    .group-right {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 1rem;
      .metadata{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > span{
          color: $text-color-blue;
        }
        .date {

        }
        .type {
          color: $text-color-blue;
          label{
            font-weight: bold;
          }
        }
        .num-pages{
          font-weight: bold;
          color: $text-color-blue;
          padding-right: 4rem;
        }
      }
      .title-list {
        display: block;
        margin-top: 0.5rem;
        padding-bottom: 0.3rem;
        line-height: 1.6rem;
        width: 90%;
        a {
          color: $text-color-blue;
          font-style: normal;
          font-size: 1.25rem;
        }
      }
    }
  }
}

